﻿@using DevExpress.ExpressApp.Editors
@using DevExpress.Persistent.Base.General
@using Xafari.Mvc.Editors
@using Xafari.TreeListEditors.Mvc.MVCx
@using ViewModeDataItemTemplate = Mvc.ViewModeDataItemTemplate

@{
    MVCxTreeListEditor editor = this.Model.Editor;
    TreeListDataCellTemplateContainer container2 = this.Model.Container;

    var currentObject = container2.TreeList.FindNodeByKeyValue(container2.NodeKey)[MVCxTreeListEditor.RowObjectColumnName];
    
    var viewEditMode = ViewEditMode.View;
    var columnInfo = container2.Column is MVCxTreeListDataColumn ? ((MVCxTreeListDataColumn)container2.Column).ColumnInfo : null;
    
    MvcPropertyEditor propertyEditor = null;
    if (columnInfo != null)
    {
        //editor.CreatePropertyEditorCore(columnInfo, viewEditMode);
        propertyEditor = editor.DataItemTemplateFactory.TryGetPropertyEditor(columnInfo, editor.Application, editor.ObjectTypeInfo, editor.ObjectSpace, viewEditMode);
    }
	if (propertyEditor == null)
	{
		@: PropertyEditor is not found
	}
	else 
	{
        ITreeNodeImageProvider provider = container2.TreeList.FindNodeByKeyValue(container2.NodeKey)["__RowObjectColumn"] as ITreeNodeImageProvider;

        if (provider != null && container2.Column.VisibleIndex == 0)
		{
			<table class="XafTreeNode">
				<tr>
					@{
						string imageName;
						var image = provider.GetImage(out imageName);
						if (image != null)
						{
                            var imageInfo = !string.IsNullOrEmpty(imageName) ? editor.imageCache.GetImageInfo(image, imageName) : editor.imageCache.GetImageInfo(image);
							if (!imageInfo.IsEmpty)
							{
							<td class="ImageCell">
								@Html.Xafari().ImageInfo(imageInfo).GetHtml()
							</td>
						    }
							else
							{
								@: &nbsp;
							}
						}
						else
						{
							@: &nbsp;
						}
					}
					<td class="TextCell">
						@ViewModeDataItemTemplate.CreateControl(new MvcControlExtension<MvcPropertyEditor>(propertyEditor, this.Html), columnInfo, currentObject)
					</td>
				</tr>
			</table>
		}
	    else
	    {
		    @ViewModeDataItemTemplate.CreateControl(new MvcControlExtension<MvcPropertyEditor>(propertyEditor, this.Html), columnInfo, currentObject)
	    }
}

}
