﻿@using System.Drawing
@using System.Linq
@using DevExpress.ExpressApp.Actions
@using DevExpress.ExpressApp.Editors
@using Xafari.Mvc.MVCx.Controls
@using Xafari.Mvc.Request
@using Xafari.Mvc.Templates
@using Xafari.TreeListEditors.Mvc.MVCx

@using TreeListSettings = DevExpress.Web.Mvc.TreeListSettings

@model MVCxTreeListEditor

@{
    var frame = this.ViewData.Frame();

    var settings = new TreeListSettings();
    this.Model.Settings = settings;

    settings.CallbackRouteValues = new
    {
        Controller = "MVCxTreeListEditor",
        Action = "Callback",
        frameId = frame.FrameId(),
        windowId = this.ViewData.Window().WindowId()
    };

    //The template for each cell.
    settings.SetDataCellTemplateContent(a =>
    {
        var viewContext = a.ViewContext() ?? this.Html.ViewContext;
        this.Html.Xafari().RenderRelativePartial(viewContext.Writer, "_DataCellTemplateContent", new Xafari.Mvc.MVCx.Editors.ListEditorTemplateContainer<MVCxTreeListEditor, TreeListSettings, TreeListDataCellTemplateContainer> { Editor = this.Model, Container = a, Settings = settings });
    });

    //CreateControlsCore
    new MVCxTreeListSupportCallbackStartupScriptRegisteringImpl(settings).RegisterCallbackStartupScript += new EventHandler<DevExpress.ExpressApp.Web.RegisterCallbackStartupScriptEventArgs>(this.Model.startupScriptRegisteringImpl_RegisterCallbackStartupScript);

    //SubscribeToASPxTreeListEvents
    settings.Init += (sender, args) =>
    {
        MVCxTreeList tree = (MVCxTreeList)sender;
        tree.BeforeGetCallbackResult += (o, eventArgs) =>
        {

        };
        tree.SelectionChanged += (o, eventArgs) =>
        {

        };

        tree.HtmlDataCellPrepared += (s, e) =>
        {
            object contextObject = tree.FindNodeByKeyValue(e.NodeKey)["__RowObjectColumn"];
            DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo gridDataColumnInfo = this.Model.GetGridDataColumnInfo(e.Column) as DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo;
            if (gridDataColumnInfo != null)
            {
                this.Model.OnCustomizeAppearance(new CustomizeAppearanceEventArgs(gridDataColumnInfo.Model.PropertyName, new DevExpress.ExpressApp.Web.Editors.TableCellAppearanceAdapter(e.Cell), contextObject));
            }
            e.Cell.Style["cursor"] = "pointer";
        };

        tree.PageIndexChanged += (s, e) =>
        {
            this.Model.SavePagerSettingsToModel();
        };

        tree.DataBound += (s, e) =>
        {
            this.Model.ApplyPagerModelSettingsToControl();

        };

        tree.ClientSideEvents.SelectionChanged = string.Format(@"function (s, e) {{
xafari.listEditorUpdateSelection({{id: s.GetVisibleSelectedNodeKeys(), frameId: '{0}', windowId: '{1}', selected: true}});
}}", this.ViewData.Frame().FrameId(), this.ViewData.Window().WindowId());

        //Control Load
        this.Model.DataBinder.DataBind(settings);
        //
    };
    //

    settings.Name = frame.ControlId(this.Model.ControlId);
    settings.AutoGenerateColumns = false;
    settings.Width = Unit.Percentage(100);
    settings.ControlStyle.BackColor = Color.Transparent;
    settings.DataCacheMode = TreeListDataCacheMode.Disabled;
    this.Model.ApplySettings();
    //this.Model.PrepareDataBinder(); in editor CreateControlsCore

    this.Model.ApplyModel();

    //SetVisible columns
    foreach (var webColumnBase in settings.Columns.OfType<WebColumnBase>())
    {
        webColumnBase.Visible = webColumnBase.VisibleIndex >= 0;
    }
    //

    TreeListDataColumn column = new TreeListDataColumn
    {
        VisibleIndex = -1,
        Visible = false,
        FieldName = "__RowObjectColumn"
    };
    settings.Columns.Add(column);

    //ASPxTreeListContextMenu CreateControlsCore()
    var menu = this.Model.contextMenu;
    if (menu != null)
    {
        menu.buttonToItemMap.Clear();
        foreach (Xafari.Mvc.Editors.WebContextMenuActionContainer container in menu.Containers)
        {
            foreach (ActionBase base2 in container.Actions)
            {
                if (menu.IsActionVisibleInContextMenu(base2) && ((base2 is SimpleAction) || (base2 is PopupWindowShowAction)))
                {
                    TreeListCommandColumn treeListCommandColumn = menu.CreateCommandColumn();
                    settings.Columns.Add(treeListCommandColumn);
                    DevExpress.ExpressApp.TreeListEditors.Web.ASPxTreeListActionItem item = new DevExpress.ExpressApp.TreeListEditors.Web.ASPxTreeListActionItem(treeListCommandColumn, base2, new Predicate<ActionBase>(menu.IsActionVisibleInContextMenu));
                    menu.buttonToItemMap.Add(item.ActionButton.ID, item);
                }
            }
        }
        //SubscribeToTreeList()
        settings.Init += (sender, args) =>
        {
            MVCxTreeList tree = (MVCxTreeList)sender;

            tree.CustomJSProperties += (s, e) =>
            {
                List<TreeListNode> visibleNodes = tree.GetVisibleNodes();
                tree.JSProperties["cpFastCallBackObjects"] = menu.GetCallBackObjectsID(visibleNodes);

            };

            tree.CommandColumnButtonInitialize += (s, e) =>
            {
                bool flag = false;
                if (e.ButtonType == TreeListCommandColumnButtonType.Custom)
                {
                    TreeListCommandColumnCustomButton button = e.CommandColumn.CustomButtons[e.CustomButtonIndex];
                    DevExpress.ExpressApp.TreeListEditors.Web.ASPxTreeListActionItem item = menu.buttonToItemMap[button.ID];
                    if (item != null)
                    {
                        TreeListNode node = tree.FindNodeByKeyValue(e.NodeKey);
                        flag = (node != null) && menu.GetRowActionActivity(item.Action, node["__RowObjectColumn"]);
                    }
                }
                e.Visible = flag ? DefaultBoolean.True : DefaultBoolean.False;

            };

            //Control Load
            var mvcActionUrl = this.Url.Action("CustomButtonClick", "MVCxTreeListEditorContextMenu", new
            {
                frameId = this.ViewData.Frame().FrameId(),

                windowId = this.ViewData.Window().WindowId(),
                windowState = ClientRequest.Current.Window.WindowState
            });

            // CustomButtonClick
            string confirmation;
            var confirmationsScrupt = MVCxTreeListContextMenu.AppendConfirmationSection(menu.buttonToItemMap.Values, out confirmation);

            var customButtonClickScript = string.Format(@"function(s,e) {{{0}
    if (ShowConfirmationMessage({1})) {{
        var postBackArgument = 'XafAction:' + e.buttonID + ':' + e.nodeKey;
        xafari.utils.post('{2}', {{ parameters: postBackArgument }});
    }}
}}", confirmationsScrupt, confirmation, mvcActionUrl);

            tree.ClientSideEvents.CustomButtonClick = customButtonClickScript;//this.GetCustomButtonClickScript();
            //

            // GetNodeClickScript
            var nodeClickScript = string.Format(@"function(s,e) {{
    var postBackArgument = 'XafAction:ListViewShowObject:' + e.nodeKey;
    xafari.utils.post('{0}', {{ parameters: postBackArgument }});
}}", mvcActionUrl);
            tree.ClientSideEvents.NodeClick = nodeClickScript;//this.GetNodeClickScript();
            //

            tree.JSProperties["cpCallbackHandlerID"] = settings.Name;
        };
    }
    //

    this.Model.exporter = new ASPxTreeListExporter();
    this.Model.exporter.TreeListID = settings.Name;
    //this.Model.exporter.RenderBrick += new ASPxTreeListRenderBrickEventHandler(this.Model.exporter_RenderBrick);
    this.Model.OnPrintableChanged();

    this.Model.OnCustomizeSettings(new CustomizeSettingsEventArgs(settings, this));

    switch (this.Model.DataBindingMode)
    {
        case DevExpress.ExpressApp.TreeListEditors.DataBindingMode.Unbound:
            this.Model.DataBinder.DataBind(settings);
            @Html.DevExpress().TreeList(settings).GetHtml()
            break;
        case DevExpress.ExpressApp.TreeListEditors.DataBindingMode.Virtual:
            var dataBinder = this.Model.DataBinder as MVCxTreeListDataBinderVirtualMode;
            @Html.DevExpress().TreeList(settings).BindToVirtualData(dataBinder.VirtualModeCreateChildren, dataBinder.VirtualModeNodeCreating).GetHtml()
            break;
    }
}