﻿@model Xafari.Mvc.Wizard.MvcPopupWindowWizardTemplate

<h2 id="WSC" class="WizardStepCaption" style="margin-bottom: 0px;">@(this.Model.CurrentStepCaption)</h2>
@if (!string.IsNullOrEmpty(this.Model.CurrentStepDescription))
{
    <span id="WSD" class="WizardStepDescription preWrap">@(this.Model.CurrentStepDescription)</span>
}