﻿@using DevExpress.Web.Internal

@model XafControllerControl<Xafari.Mvc.Controllers.MvcFocusDefaultDetailViewItemController>

@{
	HttpUtils.SetContextValue("FocusedControlID", Model.Controller.DefaultItem.FormName());
}

@*	This code must be used for non DevExpress extensions

<script id="@Html.DXScriptId()">
	$("#@Model.Controller.DefaultItem.FormName() input[type='text']").focus();
</script>
*@
