﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model  Xafari.Mvc.Templates.MvcPopupWindowTemplate

<div ID="UPOC">
    @Html.Xafari().MVCx().ActionContainerHolder(settings =>
    {
        settings.FrameTemplate = this.Model;

        settings.Name = this.ViewData.Frame().ControlId("OC");
        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
        settings.Orientation = ActionContainerOrientation.Horizontal;
        settings.CssClass = "left bottom FindDialogActionsOverflow";

        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "ObjectsCreation" });

    }).GetHtml()
</div>
<div ID="XafUpdatePanel2">
    @Html.Xafari().MVCx().ActionContainerHolder(settings =>
    {
        settings.FrameTemplate = this.Model;

        settings.Name = this.ViewData.Frame().ControlId("PopupActions");
        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
        settings.Orientation = ActionContainerOrientation.Horizontal;
        settings.CssClass = "right bottom";

        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Diagnostic" });
        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "PopupActions" });

    }).GetHtml()
</div>