@using DevExpress.Web.Internal
@using Xafari.Mvc.MVCx.Controls
<!DOCTYPE html>

<html>
<head>
	<title>@ViewBag.Title</title>

	@{ Html.RenderAction("JSCachePartial", "OutputCache", new { partialView = "_HeadTagContent", currentTheme = DevExpressHelper.Theme, pageName = "Main Page" }); }
	<meta http-equiv="Expires" content="0" />
	<style type="text/css">
		.dxm-item.accountItem.dxm-subMenu .dx-vam {
			padding-left: 10px;
		}

		.dxm-item.accountItem.dxm-subMenu .dxm-image.dx-vam {
			border-radius: 32px;
			-moz-border-radius: 32px;
			-webkit-border-radius: 32px;
			padding-right: 0px !important;
			padding-left: 0px !important;
			max-height: 32px;
			max-width: 32px;
		}

		/*Xafari*/
		.contextAction16x16 {
			background-size: 16px 16px;
		}
		.preWrap {
			white-space:pre-wrap;
			tab-size:3;
		}
	</style>
</head>
<body class="VerticalTemplate">
	<div id="Content">
		@Html.Xafari().MvcControl(MvcApplication.Instance.ClientServerInfo).GetHtml()
		@RenderBody()
	</div>
	<script> xafari.stopProgress(); </script>
</body>
</html>