@using Xafari.Mvc.MVCx.UI

<!DOCTYPE html>

<html style="height: 100%">
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> @* http://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests *@
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.All })
    @Html.Xafari().GetStyleSheets(new XafariStyleSheet { ComponentName = ComponentName.All })
    @*https://documentation.devexpress.com/#AspNet/DevExpressWebMvcUIExtensionsFactory_GetScriptstopic*@
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.All })
</head>
<body>
    @RenderBody()
</body>
</html>