@using Xafari.Mvc.MVCx.Controls
<!DOCTYPE html>

<html>
	<head id ="Head1">
		<title>Logon</title>

		@{ Html.RenderAction("JSCachePartial", "OutputCache", new { partialView = "_HeadTagContent", currentTheme = DevExpressHelper.Theme, pageName = "Main Page" }); }
  
	</head>
	<body class="Dialog">
		<div id="PageContent" class="PageContent DialogPageContent">
			@Html.Partial("Controls/Xafari.Mvc/_WindowInfoControl")
			<div id="Content">
				@Html.Xafari().MvcControl(MvcApplication.Instance.ClientServerInfo).GetHtml()
				@RenderBody()
			</div>
		</div>
		<script> xafari.stopProgress(); </script>
	</body>
</html>