﻿@using System.Collections.Specialized
@using DevExpress.ExpressApp.Utils
@using DevExpress.ExpressApp.Localization
@using Xafari.Mvc
@using Xafari.Mvc.Editors
@using Xafari.Mvc.MVCx.Editors
@using Xafari.Mvc.Templates
@using Xafari.Mvc.MVCx.Utils
@using Xafari.Mvc.Controllers

@model MVCxLookupPropertyEditor

@{
	var dropDownSettings = new ComboBoxSettings();
	dropDownSettings.Name = this.Model.FormName();

	//RenderHelper.CreateASPxComboBox()
	dropDownSettings.EncodeHtml = false;
	dropDownSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
	//SetupValidationSettings
	dropDownSettings.Properties.ValidationSettings.Display = Display.Dynamic;
	dropDownSettings.Properties.ValidationSettings.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
	dropDownSettings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
	dropDownSettings.Properties.ValidationSettings.ErrorFrameStyle.Wrap = DefaultBoolean.True;
	dropDownSettings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Left;

	//Setup ASPxLookupDropDownEdit()
	dropDownSettings.Properties.CustomButtonsPosition = CustomButtonsPosition.Far;
	dropDownSettings.Width = Unit.Percentage(100);
	dropDownSettings.ControlStyle.CssClass = "xafLookupEditor";
	dropDownSettings.Properties.ClientSideEvents.ButtonClick = string.Format("function(s,e) {{ if(e.buttonIndex == 0) {{ if(!window.buttonEditAlreadyClicked) {{ window.buttonEditAlreadyClicked = true; eval(s.{0}); }} }} if(e.buttonIndex == 1) {{ eval(s.{1}); }} }}", "cpNewButtonClickScript", "cpClearButtonClickScript");

	var newButton = dropDownSettings.Properties.Buttons.Add();
	DevExpress.ExpressApp.Utils.ImageInfo newImageInfo = ImageLoader.Instance.GetImageInfo("Editor_Add", true);
	//ASPxImageHelper.SetImageProperties(this.newButton.Image, "Editor_Add", 0x10, 0x10);
	newButton.Image.SpriteProperties.SetImageProperties(newImageInfo);
	newButton.Image.SpriteProperties.CssClass = newButton.Image.SpriteProperties.CssClass + " contextAction16x16";
	newButton.Image.Width = Unit.Pixel(16);
	newButton.Image.Height = Unit.Pixel(16);

	var clearButton = dropDownSettings.Properties.Buttons.Add();
	clearButton.ToolTip = CaptionHelper.GetLocalizedText("DialogButtons", "Clear");
	DevExpress.ExpressApp.Utils.ImageInfo clearImageInfo = ImageLoader.Instance.GetImageInfo("Editor_Clear", true);
	//ASPxImageHelper.SetImageProperties(this.clearButton.Image, "Editor_Clear", 0x10, 0x10);
	clearButton.Image.SpriteProperties.SetImageProperties(clearImageInfo);
	clearButton.Image.SpriteProperties.CssClass = clearButton.Image.SpriteProperties.CssClass + " contextAction16x16";
	clearButton.Image.Width = Unit.Pixel(16);
	clearButton.Image.Height = Unit.Pixel(16);
	if (clearImageInfo.IsEmpty)
	{
		clearButton.Text = CaptionHelper.GetLocalizedText("DialogButtons", "Clear");
	}


	//CreateDropDownLookupControl()
	ClientSideEventsHelperMVCx.AssignClientHandlerSafe(dropDownSettings, "SelectedIndexChanged", "function(sender, args) {{ args.processOnServer = false; }}", this.Model.CreateDropDownLookupControlKey);
	//UpdateDropDownLookup
	if (this.Model.newObjectViewController != null)
	{
		var value = this.Model.newObjectViewController.NewObjectAction.Caption;
		newButton.ToolTip = value;
		if (clearImageInfo.IsEmpty)
		{
			newButton.Text = value;
		}
	}
	//UpdateDropDownLookupControlAddButton
	this.Model.AddingEnabled = false;
	if (this.Model.CurrentObject != null)
	{
		string diagnosticInfo = "";
		this.Model.RecreateListView(true);
		this.Model.AddingEnabled = (this.Model.AllowEdit != null) && DevExpress.ExpressApp.DataManipulationRight.CanCreate(this.Model.listView, this.Model.helper.LookupObjectType, this.Model.listView.CollectionSource, out diagnosticInfo);
		if (this.Model.AddingEnabled && (this.Model.newObjectViewController != null))
		{
			this.Model.AddingEnabled = (this.Model.newObjectViewController.NewObjectAction.Active) && ((bool)this.Model.newObjectViewController.NewObjectAction.Enabled);
		}

	}
	//

	dropDownSettings.ReadOnly = (bool)!this.Model.AllowEdit;
	//for disable on client
	dropDownSettings.ClientEnabled = (bool)this.Model.AllowEdit;
	this.Model.ClearingEnabled = this.Model.GetAllowClear();

	//ReadEditModeValueCore()
	object propertyValue = this.Model.PropertyValue;
	this.Model.FillEditorValues(propertyValue, dropDownSettings);
	//

	dropDownSettings.CustomJSProperties = (sender, e) =>
	{
		if (this.Model.newObjectViewController != null)
		{
			e.Properties.Add("cpNewButtonCaption", this.Model.newObjectViewController.NewObjectAction.Caption);
		}
		if (!dropDownSettings.ReadOnly)
		{
			if (this.Model.AddingEnabled)
			{
				var callBackFuncName = string.Format("xafari.xafDropDownLookupProcessNewObject('{0}','{1}','{2}');", dropDownSettings.Name, this.Model.View.ViewId(), this.Model.Id);
				var addButtonScript = MvcApplication.Instance.PopupWindowManager.GetShowPopupWindowScript(this.Model.newObjectWindowAction, HttpUtility.JavaScriptStringEncode(callBackFuncName), dropDownSettings.Name, false, this.Model.newObjectWindowAction.IsSizeable, false, false, "function() { window.buttonEditAlreadyClicked = false; window.canInitiateImmediatePostData = true;}");
				string addButtonClickScript = "window.canInitiateImmediatePostData = false; e.handled = true; e.processOnServer = false; " + addButtonScript;
				e.Properties.Add("cpNewButtonClickScript", addButtonClickScript);
			}

			if (this.Model.ClearingEnabled)
			{
				string clearButtonClickScript = "var processOnServer = false;\r\n\t\t\t\t\t\tvar dropDownControl = ASPx.GetControlCollection().Get('" + dropDownSettings.Name + "');\r\n\t\t\t\t\t\tif(dropDownControl.GetSelectedIndex() != 0) {\r\n\t\t\t\t\t\t\tdropDownControl.SetSelectedIndex(0);\r\n\t\t\t\t\t\t\tprocessOnServer = dropDownControl.RaiseValueChangedEvent();\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t\te.processOnServer = processOnServer;";
				e.Properties.Add("cpClearButtonClickScript", clearButtonClickScript);
			}
		}
	};

	//Pre_Render
	if (!dropDownSettings.ReadOnly)
	{
		newButton.Visible = this.Model.AddingEnabled;
		clearButton.Visible = this.Model.ClearingEnabled;
	}
	else
	{
		newButton.Visible = false;
		clearButton.Visible = false;
	}

	//SetProcessValueChangedScript
	//if (((IModelMemberViewItemWeb)base.Model).TrackPropertyChangesOnClient)
	//{
	//	ClientSideEventsHelperMVCx.AssignClientHandlerSafe(dropDownSettings, "SelectedIndexChanged", this.Model.processValueChangedScript, Guid.NewGuid().ToString());
	//}

	//SetGotFocusScript
	ClientSideEventsHelperMVCx.AssignClientHandlerSafe(dropDownSettings, "GotFocus", MvcPropertyEditor.EditorGotFocusCompanionScript, /*this.Model.SetGotFocusScriptKey*/ Guid.NewGuid().ToString());

	//SetImmediatePostDataCompanionScript
	ClientSideEventsHelperMVCx.AssignClientHandlerSafe(dropDownSettings, "GotFocus", MvcPropertyEditorImmediatePostDataController.ImmediatePostDataCompanionScript, /*this.Model.SetImmediatePostDataCompanionScriptKey*/ Guid.NewGuid().ToString());

	//SetImmediatePostDataScript
	if (this.Model.Model.ImmediatePostData)
	{
		ClientSideEventsHelperMVCx.AssignClientHandlerSafe(dropDownSettings, "SelectedIndexChanged", MvcPropertyEditorImmediatePostDataController.GetImmediatePostDataScript(this.ViewData.Window()), this.Model.SetImmediatePostDataScript_SelectedIndexChangedKey);
	}

}

@Html.DevExpress().ComboBox(dropDownSettings).GetHtml()