﻿@using DevExpress.ExpressApp.Utils
@using DevExpress.ExpressApp.Web.Editors
@using Xafari.Mvc
@using Xafari.Mvc.Controllers
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Editors
@using Xafari.Mvc.MVCx.Utils
@using Xafari.Mvc.Templates

@model MVCxLookupPropertyEditor

@{
	var findEditSettings = new ButtonEditSettings();
	findEditSettings.Name = this.Model.FormName();

	//Setup ASPxLookupFindEdit()
	findEditSettings.Properties.ClientSideEvents.ButtonClick = string.Format("function(s,e) {{ if(e.buttonIndex == 0) {{ if(!window.buttonEditAlreadyClicked) {{ window.buttonEditAlreadyClicked = true; eval(s.{0}); }} }} if(e.buttonIndex == 1) {{ eval(s.{1}); }} }}", "cpFindButtonClickScript", "cpClearButtonClickScript");

	var findButton = findEditSettings.Properties.Buttons.Add();
	string findLocalizedText = CaptionHelper.GetLocalizedText("DialogButtons", "Find");
	findButton.ToolTip = findLocalizedText;
	DevExpress.ExpressApp.Utils.ImageInfo searchImageInfo = ImageLoader.Instance.GetImageInfo("Editor_Search", true);
	//ASPxImageHelper.SetImageProperties(this.findButton.Image, "Editor_Search", 0x10, 0x10);
	findButton.Image.SpriteProperties.SetImageProperties(searchImageInfo);
	findButton.Image.SpriteProperties.CssClass = findButton.Image.SpriteProperties.CssClass + " contextAction16x16";
	findButton.Image.Width = Unit.Pixel(16);
	findButton.Image.Height = Unit.Pixel(16);
	//
	if (searchImageInfo.IsEmpty)
	{
		findButton.Text = findLocalizedText;
	}

	var clearButton = findEditSettings.Properties.Buttons.Add();
	string clearLocalizedText = CaptionHelper.GetLocalizedText("DialogButtons", "Clear");
	clearButton.ToolTip = clearLocalizedText;
	DevExpress.ExpressApp.Utils.ImageInfo clearImageInfo = ImageLoader.Instance.GetImageInfo("Editor_Clear", true);
	//ASPxImageHelper.SetImageProperties(this.clearButton.Image, "Editor_Clear", 0x10, 0x10);
	clearButton.Image.SpriteProperties.SetImageProperties(clearImageInfo);
	clearButton.Image.SpriteProperties.CssClass = clearButton.Image.SpriteProperties.CssClass + " contextAction16x16";
	clearButton.Image.Width = Unit.Pixel(16);
	clearButton.Image.Height = Unit.Pixel(16);
	//
	if (clearImageInfo.IsEmpty)
	{
		clearButton.Text = clearLocalizedText;
	}

	//CreateFindLookupControl()
	findEditSettings.Width = Unit.Percentage(100);
	findEditSettings.ReadOnly = !this.Model.AllowEdit;
	//for disable on client
	findEditSettings.ClientEnabled = (bool)this.Model.AllowEdit;
	clearButton.Visible = this.Model.GetAllowClear();

	findEditSettings.PreRender += (sender, e) =>
	{
		if (findEditSettings.ReadOnly)
		{
			findButton.Visible = false;
			clearButton.Visible = false;
		}
	};

	var findButtonScript = string.Empty;
	if (!findEditSettings.ReadOnly)
	{
		//GetImmediatePostDataScript
		var getImmediatePostDataScript = string.Empty;
		if (this.Model.Model.ImmediatePostData)
		{
			getImmediatePostDataScript = DevExpress.ExpressApp.Web.RenderHelper.QuoteJScriptString(MvcPropertyEditorImmediatePostDataController.GetImmediatePostDataActionExecuteScript(this.ViewData.Window()), true);
		}

		string callBackFuncName = "xafari.xafFindLookupProcessFindObject('" + findEditSettings.Name + "', '" + this.Model.HiddenControlId + "', window.findLookupResult, '" + HttpUtility.JavaScriptStringEncode(getImmediatePostDataScript) + "', '" + this.Model.View.ViewId() + "','" + this.Model.Id + "');";

		//SetFindButtonClientScript
		if (MvcApplication.Instance != null && MvcApplication.Instance.PopupWindowManager != null)
		{
			bool showInFindPopup = false;//DeviceDetector.Instance.GetDeviceCategory() == DeviceCategory.Desktop;
			findButtonScript = MvcApplication.Instance.PopupWindowManager.GetShowPopupWindowScript(this.Model.showFindSelectWindowAction, HttpUtility.JavaScriptStringEncode(callBackFuncName), findEditSettings.Name, false, true, true, showInFindPopup, "function() { window.buttonEditAlreadyClicked = false; window.canInitiateImmediatePostData = true;}");
		}

		findEditSettings.Init += (sender, e) =>
		{
			if (string.IsNullOrEmpty(findButtonScript))
			{
				findButton.Visible = false;
			}
		};
	}

	//ReadEditModeValueCore()
	object propertyValue = this.Model.PropertyValue;
	//findEditSettings.Value = this.Model.helper.GetObjectKey(propertyValue);
	findEditSettings.Text = this.Model.GetPropertyDisplayValueForObject(propertyValue);

	findEditSettings.CustomJSProperties = (sender, e) =>
	{
		e.Properties.Add("cpFindButtonCaption", findLocalizedText);
		if (!findEditSettings.ReadOnly)
		{
			string clearButtonClickScript = "document.getElementById('" + this.Model.HiddenControlId + "').value = '';\r\n\t\t\t\tvar textBox = ASPx.GetControlCollection().Get('" + findEditSettings.Name + "');\r\n                textBox.SetValue('" + CaptionHelper.NullValueText + "');\r\n                textBox.cpIsEmpty = true;\r\n                textBox.RaiseValueChangedEvent();\r\n                textBox.Validate();\r\n\t\t\t\te.processOnServer = false;";
			e.Properties.Add("cpClearButtonClickScript", clearButtonClickScript);

			string findButtonClickScript = "window.canInitiateImmediatePostData = false; e.processOnServer = false;" + findButtonScript;
			e.Properties.Add("cpFindButtonClickScript", findButtonClickScript);
		}
		e.Properties.Add("cpIsEmpty", propertyValue == null);
	};

	//SetProcessValueChangedScript
	//if (((IModelMemberViewItemWeb)base.Model).TrackPropertyChangesOnClient)
	//{
	//	ClientSideEventsHelperMVCx.AssignClientHandlerSafe(findEditSettings, "ValueChanged", this.Model.processValueChangedScript, Guid.NewGuid().ToString());
	//}

	//SetImmediatePostDataScript
	if (this.Model.Model.ImmediatePostData)
	{
		ClientSideEventsHelperMVCx.AssignClientHandlerSafe(findEditSettings, "TextChanged", MvcPropertyEditorImmediatePostDataController.GetImmediatePostDataScript(this.ViewData.Window()), this.Model.SetImmediatePostDataScript_TextChangedKey);
	}
}

@Html.DevExpress().ButtonEdit(findEditSettings).GetHtml()
@Html.Hidden(this.Model.FormNameHidden, this.Model.WebLookupEditorHelper.GetObjectKey(this.Model.PropertyValue), new { id = this.Model.HiddenControlId })
