﻿@model Xafari.Mvc.MVCx.Editors.MVCxEnumPropertyEditor

@{
    object propertyValue = this.Model.PropertyValue;
    this.Model.VerifyValueBelongsToEnum(propertyValue);
    var imageInfo = this.Model.descriptor.GetImageInfo(propertyValue);

}

<table class="dxgvEnumItem" style="width:100%">
    <tr>
        @if (!imageInfo.IsEmpty)
        {
            <td style="padding-right:3px">
                <img src="@(this.Url.Content("~/" + imageInfo.ImageUrl))" alt="@Html.Encode(this.Model.GetPropertyDisplayValue())">
            </td>
        }
        <td style="width:100%">
            <span>@Html.Encode(this.Model.GetPropertyDisplayValue())</span>
        </td>
    </tr>
</table>

