﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model  Xafari.Mvc.Templates.MvcPopupWindowTemplate

<div id="headerContent" style="overflow: hidden; background-color: white; padding-top: 15px; right: 20px; left: 20px;">
    <div id="XafUpdatePanel1" class="searchViewCaption">
        @Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewCaptionControl", this.Model.View)
    </div>
    <div id="UPSAC" class="width100">
        @Html.Xafari().MVCx().ActionContainerHolder(settings =>
        {
            settings.FrameTemplate = this.Model;

            settings.Name = this.ViewData.Frame().ControlId("SAC");
            settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
            settings.Orientation = ActionContainerOrientation.Horizontal;
            settings.CssClass = "search";
            
            settings.Menu.Width = Unit.Percentage(100);
            
            settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Search"});
            settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "FullTextSearch"});

        }).GetHtml()
    </div>
</div>

   