﻿@using Xafari.Mvc
@model Xafari.Mvc.Templates.MvcWindowTemplate

@if (this.Model.MvcXafPopupWindowControl != null)
{
    @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
}

@Html.Xafari().RelativePartial("Header/_Partial")

<table class="DialogContent Content LogonContent" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="LogonContentCell" align="center">
			@Html.Xafari().RelativePartial("ViewSite/_Partial")
		</td>
	</tr>
</table>

@Html.Xafari().ShowViewStrategy().DependentContainers(new []
    {
	    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
	    this.ViewData.Frame().ControlId("UPHeaderCallbackPanel")
    
    }).GetHtml()
