﻿@model Xafari.Mvc.MVCx.Editors.ImageEdit

@{
    var innerPlaceHolderId= "innerPH";
    var imageContainerId = "imageContainer";
    var buttonsTableId = "BT";
    var uploadControlName = this.Model.ViewItem.ControlId("UploadControl", true);

    if (this.Model.storageMode == DevExpress.ExpressApp.Web.Editors.ASPx.ImagePropertyEditorStorageMode.Image)
    {
        this.Model.imageControl.ImageUrl = this.Model.GetImageUrl(this.Model.Image);
    }
    else if (!string.IsNullOrEmpty(this.Model.imageUrl))
    {
        this.Model.imageControl.ImageUrl = this.Model.imageUrl;
    }
    
    //For MVC route
    if (!string.IsNullOrEmpty(this.Model.imageControl.ImageUrl) && !this.Model.imageControl.ImageUrl.StartsWith("/") && !this.Model.imageControl.ImageUrl.StartsWith("~/"))
    {
        this.Model.imageControl.ImageUrl = "~/" + this.Model.imageControl.ImageUrl;
    }
}

@if (!this.Model.readOnly)
{
    <table id="@(imageContainerId)">
        <tr>
            <td>
                <div id="@(innerPlaceHolderId)" style="overflow: hidden; display: @(this.Model.visibleOnRender ? "" : "none"); @(this.Model.imageContainerStyle)">
                    @{
                        this.Model.imageControl.Attributes.Add("onload", string.Format("ShowHideImageControlEditMode(\"{0}\", \"{1}\", \"{2}\", true)", innerPlaceHolderId, uploadControlName, buttonsTableId));
                        this.Model.imageControl.Attributes.Add("onerror", string.Format("ShowHideImageControlEditMode(\"{0}\", \"{1}\", \"{2}\", false)", innerPlaceHolderId, uploadControlName, buttonsTableId));

                        this.Model.imageControl.RenderControl(DevExpress.Web.Mvc.Internal.Utils.CreateHtmlTextWriter(this.Html.ViewContext.Writer));
                    }
                </div>
            </td>
        </tr>
    </table>
}
else
{
    <div id="@(imageContainerId)" style="overflow: hidden; @(this.Model.imageContainerStyle)">
        @{
            this.Model.imageControl.Attributes.Add("onload", string.Format("SetControlVisibility(\"{0}\", true)", this.Model.ImageContainerId));
            this.Model.imageControl.Attributes.Add("onerror", string.Format("SetControlVisibility(\"{0}\", false)", this.Model.ImageContainerId));

            this.Model.imageControl.RenderControl(DevExpress.Web.Mvc.Internal.Utils.CreateHtmlTextWriter(this.Html.ViewContext.Writer));
        }
    </div>
}

@*<div style="@(outerStyle)">
	<div id="@(innerPlaceHolderName)" style="@(innerStyle)">
		@Html.DevExpress().Image(settings =>
		{
			settings.Name = Model.Editor.ControlId("ImageControl");
			settings.Properties.EnableClientSideAPI = false;
			//settings.ClientVisible = Model.VisibleOnRender;
			settings.ImageUrl = @Url.Content("~/" + Model.ImageUrl);
			if (Model.ImageSizeMode == DevExpress.Persistent.Base.ImageSizeMode.Zoom && Model.Image != null)
			{
				var unassigned = ImageEdit.LeadingProperty.Unassigned;
				if (Model.HasCustomHeight && Model.HasCustomWidth)
				{
					unassigned = (Model.Image.Height / ((float)Model.Image.Width)) > (Model.CustomImageHeight / ((float)Model.CustomImageWidth))
						? ImageEdit.LeadingProperty.Height
						: ImageEdit.LeadingProperty.Width;
				}
				else
				{
					if (Model.HasCustomHeight)
					{
						unassigned = ImageEdit.LeadingProperty.Height;
					}
					else if (Model.HasCustomWidth)
					{
						unassigned = ImageEdit.LeadingProperty.Width;
					}
				}
				switch (unassigned)
				{
					case ImageEdit.LeadingProperty.Width:
						settings.Width = Model.CustomImageWidth;
						break;

					case ImageEdit.LeadingProperty.Height:
						settings.Height = Model.CustomImageHeight;
						break;
				}
			}
			if (!Model.ReadOnly)
			{
				settings.Attributes.Add("onload", string.Format("ShowHideImageControlEditMode(\"{0}\", \"{1}\", \"{2}\", true)", innerPlaceHolderName, uploadControlName, editButtonsName));
				settings.Attributes.Add("onerror", string.Format("ShowHideImageControlEditMode(\"{0}\", \"{1}\", \"{2}\", false)", innerPlaceHolderName, uploadControlName, editButtonsName));
			}
			else
			{
				settings.Attributes.Add("onload", string.Format("SetControlVisibility(\"{0}\", true)", innerPlaceHolderName));
				settings.Attributes.Add("onerror", string.Format("SetControlVisibility(\"{0}\", false)", innerPlaceHolderName));
			}

		}).GetHtml()
	</div>
</div>
@if (!Model.ReadOnly)
{
	<div id="@(editButtonsName)" style="display: none">
		<table>
			<tr>
				<td style="width: 24px">
					@Html.DevExpress().Button(settings =>
					{
						var caption = CaptionHelper.GetLocalizedText(MVCxImagePropertyEditor.LocalizationGroupName, "Edit", "Edit");
						var imageName = "Editor_Edit";
						settings.Name = Model.Editor.ControlId("Buttons_Edit");
						settings.ControlStyle.CssClass = "xafLookupButton";
						settings.Images.Image.SpriteProperties.SetImageProperties(imageName);
						settings.Text = imageName.ImageIsEmpty() ? caption : "";
						settings.ToolTip = caption;
						settings.ClientSideEvents.Click = string.Format("function(s,e){{SetControlVisibility(\"{0}\", !GetControlVisible(\"{0}\"));}}", uploadControlName);
					}).GetHtml()
				</td>
				<td>
					@Html.DevExpress().Button(settings =>
					{
						var caption = CaptionHelper.GetLocalizedText(MVCxImagePropertyEditor.LocalizationGroupName, "Clear", "Clear");
						var imageName = "Editor_Clear";
						settings.Name = Model.Editor.ControlId("Buttons_Clear");
						settings.ControlStyle.CssClass = "xafLookupButton";
						settings.Images.Image.SpriteProperties.SetImageProperties(imageName);
						settings.Text = imageName.ImageIsEmpty() ? caption : "";
						settings.ToolTip = caption;
						var script = @"function(s,e){{
	$.post('{0}')
		.success(function(){{
			if ({1}) {1}.PerformCallback();
			SetControlVisibility('{2}', true);
		}});
}}";
						settings.ClientSideEvents.Click = string.Format(script,
							//Url.Action("Clear", "MVCxImagePropertyEditor", new { frameId = ViewData.Frame().FrameId(), editorId = Model.Model.Id }),
							Url.Action("Clear", "MVCxImagePropertyEditor", new
							{
								viewId = Model.Editor.View.ViewId(),
								editorId = Model.Editor.Id
							}),
							callbackPanelName, uploadControlName);
					}).GetHtml()
				</td>
			</tr>
		</table>
	</div>*@
