﻿@using DevExpress.ExpressApp.Utils
@using Xafari.Mvc
@using Xafari.Mvc.MVCx.Editors
@using Xafari.Mvc.Templates

@model ImageEdit

@{
    var uploadControlName = this.Model.ViewItem.ControlId("UploadControl", true);
    var callbackPanelName = this.Model.ViewItem.ControlId("CallbackPanel");
}

@Html.Xafari().RelativePartial("_Partial")

@if (!this.Model.readOnly)
{
    <table id="BT">
        <tr>
            <td>
                @Html.DevExpress().Button(settings =>
                {
                    //CreateASPxButton
                    settings.UseSubmitBehavior = false;
                    settings.EnableClientSideAPI = true;
                    //
                    
                    var caption = CaptionHelper.GetLocalizedText(MVCxImagePropertyEditor.LocalizationGroupName, "Edit", "Edit");
                    var imageName = "Action_Edit";
                    
                    settings.Name = this.Model.ViewItem.ControlId("Buttons_Edit");
                    
                    settings.ControlStyle.CssClass = "xafLookupButton";

                    settings.Images.Image.SpriteProperties.SetImageProperties(imageName);
                    settings.Images.Image.Height = Unit.Pixel(16);
                    settings.Images.Image.Width = Unit.Pixel(16);
                    
                    settings.Text = imageName.ImageIsEmpty() ? caption : "";
                    settings.ToolTip = caption;
                    
                    settings.ClientSideEvents.Click = string.Format("function(s,e){{SetControlVisibility(\"{0}\", !GetControlVisible(\"{0}\"));}}", uploadControlName);
                    
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Button(settings =>
                {
                    //CreateASPxButton
                    settings.UseSubmitBehavior = false;
                    settings.EnableClientSideAPI = true;
                    //
                    
                    var caption = CaptionHelper.GetLocalizedText(MVCxImagePropertyEditor.LocalizationGroupName, "Clear", "Clear");
                    var imageName = "Action_Clear";
                    
                    settings.Name = this.Model.ViewItem.ControlId("Buttons_Clear");
                    
                    settings.ControlStyle.CssClass = "xafLookupButton";
                    
                    settings.Images.Image.SpriteProperties.SetImageProperties(imageName);
                    settings.Images.Image.Height = Unit.Pixel(16);
                    settings.Images.Image.Width = Unit.Pixel(16);
                    
                    settings.Text = imageName.ImageIsEmpty() ? caption : "";
                    settings.ToolTip = caption;
                    
                    var script = @"function(s,e){{ $.post('{0}').success(function(){{ if ({1}) {1}.PerformCallback(); SetControlVisibility('{2}', true); }});}}";
                    var postUrl = this.Url.Action("Clear", "MVCxImagePropertyEditor", new { viewId = this.Model.ViewItem.View.ViewId(), editorId = this.Model.ViewItem.Id });
                    
                    settings.ClientSideEvents.Click = string.Format(script, postUrl, callbackPanelName, uploadControlName);
                    
                }).GetHtml()
            </td>
        </tr>
    </table>
	<div id="UPCH">
		@Html.DevExpress().UploadControl(settings =>
		{
			settings.Name = uploadControlName;

		    settings.ShowUploadButton = false;
			settings.ShowProgressPanel = true;
            settings.ValidationSettings.AllowedFileExtensions = new string[] { ".jpe", ".jpeg", ".jpg", ".bmp", ".gif", ".png" };
            
			settings.CallbackRouteValues = new
			{
				Controller = "MVCxImagePropertyEditor",
				Action = "Upload",
				viewId = this.Model.ViewItem.View.ViewId(), 
                editorId = this.Model.ViewItem.Id
			};

            settings.ClientSideEvents.TextChanged = this.Model.postDataImmediatelly ? string.Format("function(s) {{ {0} }}", "alert('ImmediatePostDataScript not implemented.')") : "function(s) { s.Upload(); }"; 
            
            settings.ClientSideEvents.FileUploadComplete = string.Format(@"function (s, e){{
                if(xaf.ConfirmUnsavedChangedController){{
                    xaf.ConfirmUnsavedChangedController.EditorValueChanged(s, e);
                }}
                if (e.callbackData && e.callbackData != ''){{
                        var controlId = e.callbackData.split('|')[0];
                        if(controlId != null && controlId != '') {{
                            var markup = e.callbackData.substring(controlId.length + 1);
                            var control = document.getElementById(controlId);
                            if (control) {{
                                ASPx.SetInnerHtml(control, markup);
                            }}
                        }}
                    }}
                }}");
            
		}).GetHtml()
	</div>
}