﻿@using DevExpress.ExpressApp.SystemModule
@using Xafari.Mvc
@using Xafari.Mvc.Controls
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Controls
@using Xafari.Mvc.Templates

@model Xafari.Mvc.Templates.MvcWindowTemplate

@{
    MVCxPopupControlSettingsHelperBase popupControlSettingsHelper;
    if (MvcApplicationStyleManager.IsNewStyle)
    {
        popupControlSettingsHelper = new MVCxPopupControlSettingsHelper();
    }
    else
    {
        popupControlSettingsHelper = new MVCxPopupControlSettingsHelper_OldStyle();
    }

    var popupControlSettings = new PopupControlSettings();
    popupControlSettingsHelper.SetupPopupControl(popupControlSettings, null);
    popupControlSettings.ShowOnPageLoad = false;
}

<div id="PopupControlsContainer">
    @for (var i = 0; i < PopupWindowManager.MaxNestedLevel; i++)
    {
        popupControlSettings.Name = popupControlSettings.Name = MvcXafPopupWindowControl.PopupWindowIDPrefix + i.ToString();
        Html.DevExpress().PopupControl(popupControlSettings).GetHtml();
    }
</div>

@Html.Partial("Controls/Xafari.Mvc.MVCx.Controls/_ProgressControl")

<div id="UPPopupWindowControl">
    @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
</div>
 <div id="headerDivWithShadow" style="z-index: 2000">
</div>
<div id="TestheaderTableDiv" style="background-color: white; position: absolute; display: none; right: 0px; z-index: 100000">
</div>
<div class="white borderBottom width100" id="headerTableDiv">
    <div class="paddings @(MvcWindowTemplate.AdditionalClass)" style="margin: auto">
        <table id="headerTable" class="headerTable xafAlignCenter white width100 @(MvcWindowTemplate.AdditionalClass)">
            <tbody>
                <tr>
                    <td class="xafNavToggleConteiner">
                        <div id="toggleNavigation" class="xafNavToggle">
                            <div id="xafNavTogleActive" class="xafNavHidden ToggleNavigationImage">
                            </div>
                            <div id="xafNavTogle" class="xafNavVisible ToggleNavigationActiveImage">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="height: 33px; margin-left: 5px; margin-right: 20px; border-right: 1px solid #c6c6c6">
                        </div>
                    </td>
                    <td>
                        <img src="~/Images/Logo.png" />
                    </td>
                    <td class="width100"></td>
                    <td>
                        <div id="xafHeaderMenu" class="xafHeaderMenu" style="float: right;">
                            @Html.Xafari().RelativePartial("HeaderMenu/_Partial")
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@{
    var navigationCss = "xafNav xafNavHidden";
    var modelApplicationNavigationItems = (IModelApplicationNavigationItems)MvcApplication.Instance.Model;
    bool showNavigationOnStart = ((DevExpress.ExpressApp.Web.SystemModule.IModelRootNavigationItemsWeb)modelApplicationNavigationItems.NavigationItems).ShowNavigationOnStart;
    if (!showNavigationOnStart && !navigationCss.Contains("xafHidden"))
    {
        navigationCss += " xafHidden";
    }
}
<div id="mainDiv" class="xafAlignCenter paddings overflowHidden @(MvcWindowTemplate.AdditionalClass)">
    <div id="Vertical_navigation" class="@(navigationCss)">
        <div id="UPNC" class="xafContent">
            @Html.Xafari().MVCx().NavigationActionContainer(settings =>
            {
                settings.FrameTemplate = this.Model;

                settings.Name = this.ViewData.Frame().ControlId("NC");
                settings.ContainerId = "ViewsNavigation";
                settings.Width = Unit.Percentage(100);
                //settings.BackColor="White";

            }).GetHtml()
        </div>
    </div>
    <div id="content" class="overflowHidden">
        <div id="menuAreaDiv" style="z-index: 2500">
            <table id="menuInnerTable" class="width100 menuAreaDiv" style="padding-bottom: 13px; padding-top: 13px;">
                <tbody>
                    <tr>
                        <td class="xafNavToggleConteiner">
                            <div id="toggleNavigation_m" class="xafNavToggle xafHidden">
                                <div id="xafNavTogleActive_m" class="xafNavHidden ToggleNavigationImage">
                                </div>
                                <div id="xafNavTogle_m" class="xafNavVisible ToggleNavigationActiveImage">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="toggleSeparator_m" class="xafHidden" style="height: 33px; margin-left: 5px; margin-right: 20px; border-right: 1px solid #c6c6c6">
                            </div>
                        </td>
                        <td style="width: 30%">
                            @Html.Xafari().RelativePartial("ViewSite/ImageAndCaption/_Partial")
                        </td>
                        <td id="menuCell" style="width: 70%;">
                            @Html.Xafari().RelativePartial("ViewSite/Toolbar/_Partial")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="viewSite" class="width100" style="float: left">
            @Html.Xafari().RelativePartial("ViewSite/_Partial")
        </div>
    </div>
</div>

<div id="footer" class="xafFooter width100">
    <div class="xafAlignCenter paddings @(MvcWindowTemplate.AdditionalClass)">
        @Html.Partial("Controls/Xafari.Mvc/_AboutInfoControl")
    </div>
</div>

<script type="text/javascript">
    Init();
</script>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[] { this.ViewData.Frame().ControlId("UPViewSite"), 
                                                              this.ViewData.Frame().ControlId("UPToolbar"),
                                                              this.ViewData.Frame().ControlId("UPSAC"),
                                                              this.ViewData.Frame().ControlId("UPImageAndCaption")
                                                            }).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    var loadwindowfunc = function () {
        if (window == window.top) {
            var i = 0;
            while (true) {
                var popupControlName = "PopupWindow" + i;
                var popupControl = window.top[popupControlName];
                if (popupControl) {
                    window.xafari.popup.PopupControls.push(popupControl);
                    if (i == 0) {
                        window.setTimeout(xafari.popup.asyncLoadIFrame(popupControl), 1);
                    }
                    i++;
                }
                else {
                    break;
                }
            }
        }
    }
    window.addEventListener("load", loadwindowfunc, false);
</script>



