﻿@using DevExpress.ExpressApp.Model
@using DevExpress.ExpressApp.Utils
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

@Html.Xafari().RelativePartial("../Toolbar/_Partial")

<table border="0" cellpadding="0" cellspacing="0" class="MainContent" width="100%">
	<tr>
		<td class="ViewHeader">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" class="ViewHeader">
				<tr>
					<td class="ViewImage">
						@Html.Xafari().LargeImageInfo(ViewImageNameHelper.GetImageName(this.Model.View)).GetHtml()
					</td>
					<td class="ViewCaption">
						<h1>@Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewCaptionControl", this.Model.View)</h1>
						@*@Html.Xafari().MVCx().ActionContainerHolder(
							settings2 =>
							{
								settings2.FrameTemplate = Model;
								settings2.Containers = "ViewsHistoryNavigation";
							}).TemplateRelativePartialView("../../_ViewsHistoryNavigation").GetHtml()*@
					</td>
					<td align="right">
						@Html.Xafari().MVCx().ActionContainerHolder(
							settings =>
							{
								settings.FrameTemplate = this.Model;

                                settings.Name = this.ViewData.Frame().ControlId("DAC");
                                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                                settings.Orientation = ActionContainerOrientation.Horizontal;
                                settings.UseLargeImage = true;
								settings.CssClass = "RecordsNavigationContainer";
                                
								settings.Menu.Width = Unit.Percentage(100);
							    settings.Menu.ItemAutoWidth = false;
                                settings.Menu.ControlStyle.HorizontalAlign = HorizontalAlign.Right;
								
                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "RecordsNavigation", IsDropDown = false });
                                
							}).GetHtml()
					</td>
				</tr>
			</table>
			@Html.Xafari().MVCx().ActionContainerHolder(
				settings =>
				{
                    settings.FrameTemplate = this.Model;

                    settings.Name = this.ViewData.Frame().ControlId("EMA");
                    settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                    settings.Orientation = ActionContainerOrientation.Horizontal;
                    settings.CssClass = "EditModeActions";

                    settings.Menu.Width = Unit.Percentage(100);
                    settings.Menu.ItemAutoWidth = false;
                    settings.Menu.ControlStyle.HorizontalAlign = HorizontalAlign.Right;

                    settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Save", IsDropDown = false });
                    settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "UndoRedo", IsDropDown = false });

				}).GetHtml()
		</td>
	</tr>
</table>


