﻿@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc.UI
@using Xafari.Mvc.MVCx.Editors

@model MVCxHtmlPropertyEditor

@{
	var settings = Model.CreateSettingsBase<HtmlEditorSettings>();
	settings.Width = Unit.Percentage(100);
	//settings.Height = Unit.Percentage(100); //commented out to not override default style with 400px - ПИР 102.152123
	settings.Html = Model.PropertyValue as string;
	settings.CallbackRouteValues = Model.CallbackRouteValues(Html);

	var strArray = new[] { ".jpeg", ".gif", ".png", ".bmp" };
	settings.SettingsImageUpload.ValidationSettings.AllowedFileExtensions = strArray;
	settings.SettingsImageUpload.UploadImageFolder = string.Empty;

	settings.SettingsImageSelector.Enabled = true;
	settings.SettingsImageSelector.CommonSettings.AllowedFileExtensions = strArray;

	settings.Toolbars.CreateDefaultToolbars(true);
	for (var i = 0; i < settings.Toolbars.Count; i++)
	{
		for (var j = 0; j < settings.Toolbars[i].Items.Count; j++)
		{
			if (settings.Toolbars[i].Items[j].CommandName == "checkspelling")
			{
				settings.Toolbars[i].Items.RemoveAt(j);
				return;
			}
		}
	}
	//https://www.devexpress.com/Support/Center/Question/Details/T169977
	settings.ClientSideEvents.Init = string.Format(
@"function(s,e){{
	if('{0}' != '')
		$('#{0}').on('form-pre-serialize',{{ htmlEditor: s }},function(event) {{ event.data.htmlEditor.OnPost(); }});
}}",
this.ViewData.Frame() != null ? this.ViewData.Frame().View.ViewEditModeFormId() : this.ViewData.View() != null ? this.ViewData.View().ViewEditModeFormId() : string.Empty);
}

@Html.DevExpress().HtmlEditor(settings).GetHtml()
