﻿@using Xafari.Mvc
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Editors

@model MVCxObjectPropertyEditor

@{
	var settings = this.Model.CreateEditorSettings<ButtonEditSettings>();
	settings.Properties.ClientInstanceName = this.Model.ControlId();

	settings.Properties.Buttons.Clear();
	var editButton = settings.Properties.Buttons.Add();
	editButton.Image.SpriteProperties.SetImageProperties("Editor_Edit");
	if (editButton.Image.IsEmpty)
	{
		editButton.Text = "Edit";
	}
	settings.Enabled = true;
	settings.ReadOnly = true;

	settings.Text = this.Model.GetPropertyDisplayValue();

	var callBackFuncName = string.Format("ProcessObjectEditResult({0})", settings.Properties.ClientInstanceName);
	var showPopupWindowScript = "window.canInitiateImmediatePostData = false;" + MvcApplication.Instance.PopupWindowManager.GetShowPopupWindowScript(this.Model.ObjectWindowAction, HttpUtility.JavaScriptStringEncode(callBackFuncName), settings.Properties.ClientInstanceName, false, this.Model.ObjectWindowAction.IsSizeable);

	settings.Properties.ClientSideEvents.ButtonClick = string.Format("function Add_{0}_ButtonClickHandler(sender, e) {{ {1}; }}", settings.Properties.ClientInstanceName, showPopupWindowScript);
}

@Html.DevExpress().ButtonEdit(settings).GetHtml()

