﻿@using DevExpress.ExpressApp.Model

@model Xafari.Mvc.Templates.MvcPopupWindowTemplate

<div class="Dialog" id="DialogContent">
    
    @if (this.Model.MvcXafPopupWindowControl != null)
    {
        @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
    }

    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top" height="100%">
                <div style="display: none">
                    @Html.Xafari().LargeImageInfo(((IModelObjectView) this.Model.View.Model).ModelClass.ImageName).GetHtml()
                    @Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewCaptionControl", this.Model.View)
                </div>
                <div class="DialogContent Content">
                    <div class="ContentCell" style="padding-bottom: 60px">
                        @Html.Xafari().RelativePartial("Header/_Partial")
                        <div id="ViewSite">
                            @Html.Xafari().RelativePartial("ViewSite/_Partial")
                        </div>
                    </div>
                </div>
                <div class="DockBottom">
                    @Html.Xafari().RelativePartial("Buttons/_Partial")
                </div>
            </td>
        </tr>
    </table>
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
    this.ViewData.Frame().ControlId("HeaderCallbackPanel"),
	this.ViewData.Frame().ControlId("ButtonsCallbackPanel")
    
}).GetHtml()
