﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model  Xafari.Mvc.Templates.MvcPopupWindowTemplate

<div>
    <table id="headerTable" class="dialog headerTable gray borderBottom width100" style="position: initial; padding-left: 0px; padding-right: 0px">
        <tbody>
            <tr>
                <td>
                    <table class="viewCaption">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="UPVIC" class="ViewImage">
                                        @Html.Xafari().LargeImageInfo(((IModelObjectView)this.Model.View.Model).ModelClass.ImageName).GetHtml()
                                    </div>
                                </td>
                                <td>
                                    <div id="UPVH" style="white-space: normal; font-size: x-large; color: #4a4a4a">
                                        @Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewCaptionControl", this.Model.View)
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 50%">
                    <div style="float: right">
                        <div id="UPSAC">
                            @Html.Xafari().MVCx().ActionContainerHolder(settings =>
                            {
                                settings.FrameTemplate = this.Model;

                                settings.Name = this.ViewData.Frame().ControlId("SAC");
                                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
                                settings.Orientation = ActionContainerOrientation.Horizontal;

                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Search" });
                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "FullTextSearch" });
                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "ObjectsCreation" });
                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Diagnostic" });
                                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "PopupActions" });

                            }).GetHtml()
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
