﻿@using System.Web.UI.WebControls
@using Xafari.Mvc
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

@helper ViewSiteContent()
{
	if (this.Model.View != null)
	{
		<div id="ContentPane">
			<table border="0" cellpadding="0" cellspacing="0" class="MainContent" width="100%">
				<tr class="Content">
					<td class="Content">
						@Html.Xafari().Partial("Controls/Xafari.Mvc/_ErrorInfoControl")
						@{
							Html.Xafari() 
                                .ViewSite(this.Model.View)
                                .ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports")
                                .DependentContainers(this.ViewData.Frame().ControlId("ViewSiteToolbarCallbackPanel"))
								.Render(__razor_helper_writer);
						}
					</td>
				</tr>
			</table>
		</div>
	}
}

@Html.DevExpress().Splitter(
	settings3 =>
	{
		settings3.Name = ViewData.Frame().ControlId("ContentSplitter");
		settings3.Orientation = Orientation.Vertical;
		settings3.AllowResize = false;
		settings3.Width = Unit.Percentage(100);
		settings3.Height = Unit.Percentage(100);
		settings3.SeparatorVisible = false;
		settings3.ControlStyle.Border.BorderStyle = BorderStyle.None;
		settings3.Panes.Add(toolbarPane =>
		{
			toolbarPane.Name = ViewData.Frame().ControlId("ToolbarPane");
			toolbarPane.PaneStyle.Paddings.Padding = 0;
			toolbarPane.PaneStyle.BorderBottom.BorderStyle = BorderStyle.None;
			toolbarPane.AutoHeight = true;
			toolbarPane.AllowResize = DefaultBoolean.False;
			toolbarPane.SetContentRelativePartialView(Html, "Header/_Partial");
		});
		settings3.Panes.Add(viewSitePane =>
		{
			viewSitePane.Name = ViewData.Frame().ControlId("ViewSitePane");
			viewSitePane.PaneStyle.Paddings.Padding = 0;
			viewSitePane.PaneStyle.BorderTop.BorderStyle = BorderStyle.None;
			viewSitePane.ScrollBars = ScrollBars.Auto;
			viewSitePane.SetContent(() => Html.ViewContext.Writer.Write(ViewSiteContent()));
		});
	}).GetHtml()
