﻿@using DevExpress.ExpressApp.Editors
@using Xafari.Mvc.MVCx.Extensions

@model Xafari.Mvc.Editors.MvcPropertyEditor

@{
    var propertyDisplayValue = this.Model.GetPropertyDisplayValue();
    if (propertyDisplayValue == null)
    {
        propertyDisplayValue = string.Empty;
    }
    else
    {
        string[] strArray = HttpUtility.HtmlEncode(propertyDisplayValue).Replace("\t", "&nbsp;&nbsp;&nbsp;").Replace("\r", "").Split(new char[] { '\n' });
        propertyDisplayValue = string.Join("<br>", strArray);
    }
    propertyDisplayValue = this.Model.IsPassword ? new string('*', propertyDisplayValue.Length) : propertyDisplayValue;

    //StyleValue
    var styleValue = string.Empty;
    var appearanceFormat = this.Model as IAppearanceFormat;
    if (appearanceFormat != null) { styleValue = appearanceFormat.GetStyleAttributeValue(); }
    //
    //StyleAttribute
    var styleAttribute = string.Empty;
    if (!string.IsNullOrEmpty(styleValue)) { styleAttribute = string.Format("style = {0}", styleValue); }
    //
}

<div class="WebEditorCell" @(styleAttribute)>
    <span>@{ this.ViewContext.Writer.Write(propertyDisplayValue); }</span>
</div>