﻿@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Wizard.MvcPopupWindowWizardTemplate

<div>
	@{ Html.Xafari().RenderPartial("Controls/Xafari.Mvc/_ErrorInfoControl"); }
</div>

@{ 
    Html.Xafari()
       .ViewSite(Model.View)
       .DependentContainers(new[] { this.ViewData.Frame().ControlId("ButtonsCallbackPanel")})
       .ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports")
       .Render(); 
}
<script type="text/javascript" id="@Html.DXScriptId()">
        $("#stepNav span").css("font-weight", "normal");
        $("#stepNav [data-index=@(this.Model.SelectedIndex.ToString())]").css("font-weight", "bold");
</script>