﻿@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

<div id="UPEI">
    @Html.Xafari().Partial("Controls/Xafari.Mvc/_ErrorInfoControl")
</div>
<div ID="UPVSC">
    @Html.Xafari().ViewSite(this.Model.View).DependentContainers(new[] { this.ViewData.Frame().ControlId("UPHeader") }).ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports").GetHtml()
</div>

