﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc

<div class="Header">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="ViewImage">
				@Html.Xafari().LargeImageInfo(((IModelObjectView)Model.View.Model).ModelClass.ImageName).GetHtml()
			</td>
			<td class="ViewCaption">
				<h1>@Model.View.Caption</h1>
			</td>
		</tr>
	</table>
</div>

