﻿@using System.Drawing
@using Xafari.Mvc.MVCx.Editors

@model MVCxColorPropertyEditor

<table class="dxgvEnumItem" style="width:100%">
    <tr>
        <td style="padding-right:3px">
            @if (this.Model.PropertyValue != null)
            {
                <img src="@(this.Url.Content("~/" + this.Model.ImageCache.GetImageInfo(this.Model.GetImageByColor((Color) this.Model.PropertyValue)).ImageUrl))" alt="@Html.Encode(this.Model.GetPropertyDisplayValue())">
            }
        </td>
        <td style="width:100%">
            <span>@Html.Encode(this.Model.GetPropertyDisplayValue())</span>
        </td>
    </tr>
</table>

