﻿@using System.Web.Mvc
@using DevExpress.ExpressApp.Actions
@using DevExpress.Web
@using DevExpress.Web.Mvc
@using Xafari.Mvc
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Templates.ActionContainer
@using Xafari.Mvc.Templates
@using Xafari.Mvc.Templates.ActionContainers
@using Xafari.Utils

@helper MenuItemTemplate(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem, MVCxMenuItem mvcxMenuItem)
{
	var clientId = actionItem.Action.ControlId();
	var frame = actionItem.Action.Controller.Frame;
	var action = (DevExpress.ExpressApp.Actions.SingleChoiceAction)actionItem.Action;

	<table cellspacing="0" cellpadding="1">
		<tr>
			<td class="SingleChoiceActionItemLabel Label">
				@actionItem.Caption
			</td>
			<td class="SingleChoiceActionItemEditor">
				@{
					var settings2 = new ComboBoxSettings();
					settings2.Name = clientId;
					settings2.Enabled = actionItem.Enabled;
					var items = action.Items.Select(
						item => new ListEditItem
						{
							Text = item.Caption,
							Value = item.GetItemPathIndex(action),
							Selected = action.SelectedItem == item,
						}).ToArray();
					settings2.Properties.Items.AddRange(items);
					settings2.SelectedIndex = items.TakeWhile(item => !item.Selected).Count();
					var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "s.GetSelectedItem().value");
					const string script = @"function(s,e){{
var result = {0}
if(!result){{
s.SetSelectedIndex(s.lastChangedValue);}}
}}";
					settings2.Properties.ClientSideEvents.SelectedIndexChanged = string.Format(script, xafActionExecuteScript);
					//settings2.Properties.ClientSideEvents.SelectedIndexChanged =
					//    string.Format("function(s,e){{xafari.xafPostExecuteAction('{0}','{1}','{2}','',s.GetSelectedItem().value,{3},'{4}');}}",
					//        frame.ViewEditModeFormId(), page.Ajax.JavaScriptStringEncode(action.Id), frame.FrameId(),
					//        actionItem.Action.IsPostbackRequired().ToString().ToLower(), page.Ajax.JavaScriptStringEncode(actionItem.ConfirmationMessage));

					// https://www.devexpress.com/Support/Center/Question/Details/T103092
					new ComboBoxExtension(settings2, new ViewContext { Writer = __razor_helper_writer }).Render();
				}
			</td>
		</tr>
	</table>
}

@helper CreateMenuItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem, MVCxMenuItem menuItem)
{
	var frame = actionItem.Action.Controller.Frame;
	var action = (DevExpress.ExpressApp.Actions.SingleChoiceAction)actionItem.Action;

	if (action.ItemType == SingleChoiceActionItemType.ItemIsMode)
	{
		menuItem.SetTemplateContent(container => page.Html.ViewContext.Writer.Write(MenuItemTemplate(page, settings, actionItem, menuItem)));
	}
	else
	{
		if (!action.ShowItemsOnClick)
		{
			var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "");
			menuItem.NavigateUrl = string.Format("javascript:{0}", xafActionExecuteScript); 
		}
		action.Items.Where(a => a.Active).Recursive(menuItem.Items,
			(menuItems, a) => a.Items.Where(b => b.Active),
			(menuItems, a) =>
			{
				var navigateUrl = (string)null;
				if (a.Items.Count <= 0)
				{
					// SetConfirmationMessage
					var confirmationMessage = action.ConfirmationMessage;
					if (string.IsNullOrEmpty(confirmationMessage))
					{
						var realAction = a.Data as ActionBase;
						if (realAction != null)
						{
							confirmationMessage = realAction.ConfirmationMessage;
						}
						else 
						{
							var realChoiceActionItem = a.Data as ChoiceActionItem;
							if (realChoiceActionItem != null)
							{
								var parent = a.ParentItem;
								while (!(parent.Data is ActionBase))
								{
									parent = parent.ParentItem; 
								}
								confirmationMessage = ((ActionBase)parent.Data).ConfirmationMessage;
							}
						}
					}
					//
					var xafActionItemExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(confirmationMessage), "\"" + a.GetItemPathIndex(action) + "\"");
					navigateUrl = string.Format("javascript:{0}", xafActionItemExecuteScript);
				}
				var item = new MVCxMenuItem
				{
					Name = a.Id,
					Text = a.Caption,
					NavigateUrl = navigateUrl,
					ClientEnabled = a.Enabled,
				};
				menuItems.Add(item);
				item.Image.SpriteProperties.SetImageProperties(a.ImageName);
				return item.Items;
			});

		settings.Items.Add(menuItem);
	}
}