﻿@using System.Web.Mvc
@using DevExpress.ExpressApp.Templates
@using DevExpress.Persistent.Base
@using DevExpress.Web
@using DevExpress.Web.Mvc
@using Xafari.Mvc
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Templates.ActionContainer
@using Xafari.Mvc.Templates.ActionContainers

@helper CreateMenuItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem, MVCxMenuItem mvcxMenuItem)
{
	var helperTypeName = string.Format("{0}.{1}", typeof(Helpers).Namespace, actionItem.Action.GetType().Name);
	var type = ReflectionHelper.GetType(helperTypeName);
	if (type == null)
	{
		throw new InvalidOperationException(string.Format("Couldn't found helper '{0}'", helperTypeName));
	}
	var methodInfo = type.GetMethod("CreateMenuItem");
	if (methodInfo == null)
	{
		throw new InvalidOperationException(string.Format("Couldn't found helper method 'CreateMenuItem' for '{0}'", helperTypeName));
	}

	//MenuActionItemBase
	mvcxMenuItem.Name = actionItem.Action.ControlId();
	mvcxMenuItem.AdaptivePriority = actionItem.Action.Model.GetValue<int>("AdaptivePriority");
	mvcxMenuItem.ItemStyle.CssClass = actionItem.Action.Model.GetValue<string>("CustomCSSClassName");
	mvcxMenuItem.AdaptiveText = actionItem.Action.Model.Caption;

	//SynchronizeWithAction()
	mvcxMenuItem.ToolTip = actionItem.ToolTip;
	mvcxMenuItem.ClientEnabled = actionItem.Enabled;
	mvcxMenuItem.ClientVisible = actionItem.IsVisible;
	mvcxMenuItem.Visible = actionItem.IsVisible;
	//SynchronizeWithActionPaintStyleDependentProperties
	mvcxMenuItem.Text = actionItem.Caption;
	//SetImage
	if (!actionItem.ImageInfo.IsEmpty)
	{
		mvcxMenuItem.Image.SpriteProperties.SetImageProperties(actionItem.ImageInfo.ImageName);
		if ((actionItem.ImageInfo.Width < 0x20) || (actionItem.ImageInfo.Height < 0x1d))
		{
			if ((actionItem.ImageInfo.Width == 0x18) || (actionItem.ImageInfo.Height == 0x18))
			{
				mvcxMenuItem.ItemStyle.CssClass = mvcxMenuItem.ItemStyle.CssClass + " smallImage2";
			}
			else
			{
				mvcxMenuItem.ItemStyle.CssClass = mvcxMenuItem.ItemStyle.CssClass + " smallImage";
			}
		}
		if (actionItem.Action.PaintStyle == ActionItemPaintStyle.CaptionAndImage)
		{
			MenuItemStyle itemStyle = mvcxMenuItem.ItemStyle;
			itemStyle.CssClass = itemStyle.CssClass + " captionAndImage";
		}

	}

	settings.Items.Add(mvcxMenuItem);

	@methodInfo.Invoke(null, new object[] { page, settings, actionItem, mvcxMenuItem })

	//if (actionItem.Focused)
	//{
	//    settings.PreRender += (sender, args) =>
	//    {
	//        var menu = (MVCxMenu)sender;
	//        var item = menu.Items.Find(a => a.Name == menuItem.Name);
	//        menu.ClientSideEvents.Init = string.Format("function(s,e){{ s.FocusItemByIndexPath('{0}'); }}", item.IndexPath);
	//    };
	//}
}