﻿@using System.Web.Mvc
@using DevExpress.ExpressApp.Actions
@using DevExpress.ExpressApp.Model
@using DevExpress.ExpressApp.Utils
@using DevExpress.Web
@using DevExpress.Web.Mvc
@using Xafari.Mvc
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Templates.ActionContainer
@using Xafari.Mvc.Templates
@using Xafari.Mvc.Templates.ActionContainers
@using Xafari.Utils

@helper CreateMenuItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings menu, ActionItem actionItem, MVCxMenuItem mvcxMenuItem)
{
    var singleChoiceAction = (DevExpress.ExpressApp.Actions.SingleChoiceAction)actionItem.Action;
    if (singleChoiceAction.ItemType != SingleChoiceActionItemType.ItemIsMode)
    {
        @CreateItemAsOperationActionMenuItem(page, menu, singleChoiceAction, mvcxMenuItem)
    }
    else if (singleChoiceAction.IsHierarchical()) 
    {
        @CreateItemAsHierarchicalModeActionMenuItem(page, menu, singleChoiceAction, mvcxMenuItem)
    }
    else
    {
        @CreateItemAsModeMenuActionItem(page, menu, actionItem, mvcxMenuItem)
    }
}

@helper CreateItemAsOperationActionMenuItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings menu, DevExpress.ExpressApp.Actions.SingleChoiceAction action, MVCxMenuItem mvcxMenuItem)
{
    // SingleChoiceActionItemAsOperationActionMenuItem 
    if (!action.ShowItemsOnClick)
    {
        mvcxMenuItem.DropDownMode = true;
    }
    
    // GetScript
    if (!action.ShowItemsOnClick || ((action.Items.Count == 1) && (action.Items[0].Items.Count == 0)))
    {
        var menuItemNameToClickHandler = page.ViewData["MenuItemNameToClickHandler"] as Dictionary<string, string>;
        if (menuItemNameToClickHandler != null)
        {
            if (!menuItemNameToClickHandler.ContainsKey(mvcxMenuItem.Name))
            {
                var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "");
                menuItemNameToClickHandler.Add(mvcxMenuItem.Name, xafActionExecuteScript);
            }
        }
    }
    
    @RebuildMenu(page, menu, action, mvcxMenuItem)
}

@helper CreateItemAsHierarchicalModeActionMenuItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, DevExpress.ExpressApp.Actions.SingleChoiceAction action, MVCxMenuItem mvcxMenuItem)
{
    // GetScript
    if (!action.ShowItemsOnClick || ((action.Items.Count == 1) && (action.Items[0].Items.Count == 0)))
    {
        var menuItemNameToClickHandler = page.ViewData["MenuItemNameToClickHandler"] as Dictionary<string, string>;
        if (menuItemNameToClickHandler != null)
        {
            if (!menuItemNameToClickHandler.ContainsKey(mvcxMenuItem.Name))
            {
                var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "");
                menuItemNameToClickHandler.Add(mvcxMenuItem.Name, xafActionExecuteScript);
            }
        }
    }

    @RebuildMenu(page, settings, action, mvcxMenuItem)
}

@helper RebuildMenu(WebViewPage<MVCxActionContainerHolder> page, MenuSettings menu, DevExpress.ExpressApp.Actions.SingleChoiceAction action, MVCxMenuItem rootMVCxMenuItem)
{
    if ((action.Items.Count > 1) && !(action.Items.Count == 1 && action.Items[0].Items.Count == 0))
    {
        action.Items.Recursive(rootMVCxMenuItem.Items,
		    (menuItems, actionItem) => actionItem.Items,
		    (menuItems, actionItem) =>
		    {
		        var mvcxMenuItem = new MVCxMenuItem();
		        mvcxMenuItem.Name = actionItem.Id;
                //SyncronizeWithItem();
                //SetImage
                ImageInfo imageInfo = ImageLoader.Instance.GetImageInfo(actionItem.ImageName);

                mvcxMenuItem.Image.SpriteProperties.SetImageProperties(actionItem.ImageName);
                if (!imageInfo.IsEmpty && ((imageInfo.Width < 0x20) || (imageInfo.Height < 0x1d)))
                {
                    if ((imageInfo.Width == 0x18) || (imageInfo.Height == 0x18))
                    {
                        mvcxMenuItem.ItemStyle.CssClass = "smallImage2";
                    }
                    else
                    {
                        mvcxMenuItem.ItemStyle.CssClass = "smallImage";
                    }
                }
                //
                mvcxMenuItem.Text = actionItem.Caption;
                mvcxMenuItem.ClientEnabled = actionItem.Enabled;
                mvcxMenuItem.Enabled = true;
                mvcxMenuItem.ClientVisible = actionItem.Active;
                mvcxMenuItem.ToolTip = actionItem.ToolTip;
                //
                mvcxMenuItem.BeginGroup = actionItem.BeginGroup;
                
                // GetScript
                if (!action.ShowItemsOnClick || actionItem.Items.Count == 0)
                {
                    var menuItemNameToClickHandler = page.ViewData["MenuItemNameToClickHandler"] as Dictionary<string, string>;
                    if (menuItemNameToClickHandler != null)
                    {
                        if (!menuItemNameToClickHandler.ContainsKey(mvcxMenuItem.Name))
                        {
                            var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "\"" + actionItem.GetItemPathIndex(action) + "\"");
                            menuItemNameToClickHandler.Add(mvcxMenuItem.Name, xafActionExecuteScript);
                        }
                    }
                }

                menuItems.Add(mvcxMenuItem);
                return mvcxMenuItem.Items;
		    });
        
    }
    menu.Items.Add(rootMVCxMenuItem);
}

@helper CreateItemAsModeMenuActionItem(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem, MVCxMenuItem mvcxMenuItem)
{
    if (page.Model.Orientation == ActionContainerOrientation.Horizontal)
    {
        mvcxMenuItem.SetTemplateContent(container => page.Html.ViewContext.Writer.Write(DropDownHorizontalTemplate(page, settings, actionItem)));
    }
    else
    {
        mvcxMenuItem.SetTemplateContent(container => page.Html.ViewContext.Writer.Write(DropDownVerticalTemplate(page, settings, actionItem)));
    }
}

@helper DropDownHorizontalTemplate(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem)
{
	<div class="TemplatedItem">
        <table cellspacing="0" cellpadding="0" style="visibility: visible">
            <tr>
                @if (!string.IsNullOrEmpty(actionItem.Caption) && !MvcApplicationStyleManager.IsNewStyle)
                {
                    <td class="SingleChoiceActionItemLabel Label">
                        @actionItem.Caption
                    </td>
                }
                <td class="SingleChoiceActionItemEditor">
                    @DropDownEditorTemplate(page, settings, actionItem)
                </td>
            </tr>
        </table>
	</div>
}

@helper DropDownVerticalTemplate(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem)
{
	<div class="TemplatedItem">
        <table cellspacing="0" cellpadding="0" style="visibility: visible">
            @if (!string.IsNullOrEmpty(actionItem.Caption) && !MvcApplicationStyleManager.IsNewStyle)
            {
                <tr>
                    <td class="Label">
                        @actionItem.Caption
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @DropDownEditorTemplate(page, settings, actionItem)
                </td>
            </tr>
        </table>
	</div>
}

@helper DropDownEditorTemplate(WebViewPage<MVCxActionContainerHolder> page, MenuSettings settings, ActionItem actionItem)
{
	var frame = actionItem.Action.Controller.Frame;
	var action = (DevExpress.ExpressApp.Actions.SingleChoiceAction) actionItem.Action;

    var comboBoxSettings = new ComboBoxSettings();
    comboBoxSettings.Name = actionItem.Action.ControlId();
    comboBoxSettings.EncodeHtml = true;
    comboBoxSettings.Properties.EnableClientSideAPI = true;
    comboBoxSettings.Properties.ShowImageInEditBox = true;

    comboBoxSettings.ToolTip = actionItem.ToolTip;

    //SetClientClickHandler
    var xafActionExecuteScript = action.GetXafActionExecuteScript(page.ViewData.Window(), page.Ajax.JavaScriptStringEncode(action.ConfirmationMessage), "s.GetSelectedItem().value");
    comboBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = string.Format("function(s, e) {{ \r\n                if(typeof xaf == 'undefined' || !xaf.ConfirmUnsavedChangedController || xaf.ConfirmUnsavedChangedController.CanProcessCallbackForChoiceAction(s,e, '{0}')){{    \r\n                    if (!{1}) {{\r\n                        s.SetSelectedIndex(s.currentSelectedIndex != undefined ? s.currentSelectedIndex : -1);    \r\n                    }}\r\n                }}\r\n            }}", xafActionExecuteScript, xafActionExecuteScript.Replace(";", ""));
    comboBoxSettings.Properties.ClientSideEvents.Init = "function(s, e){ s.currentSelectedIndex = s.GetSelectedIndex(); }";

    // PopulateItems()
    var items = action.Items.Where(item => (item.Enabled != null) && (item.Active != null)).Select(
        item => new ListEditItem {
            Text = item.Caption,
            Value = item.GetItemPathIndex(action),
            Selected = action.SelectedItem == item
        });
    var listEditItems = items as ListEditItem[] ?? items.ToArray();
    comboBoxSettings.Properties.Items.AddRange(listEditItems);
    comboBoxSettings.SelectedIndex = listEditItems.TakeWhile(item => !item.Selected).Count();
    
    //Set Enabled
    comboBoxSettings.ClientEnabled = action.Enabled;
    
	//https://www.devexpress.com/Support/Center/Question/Details/T103092
    new ComboBoxExtension(comboBoxSettings, new ViewContext { Writer = __razor_helper_writer }).Render();
}


