﻿@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

<div id="VerticalTemplateHeader" class="VerticalTemplateHeader">
	<table cellpadding="0" cellspacing="0" border="0" class="Top" width="100%">
		<tr>
			<td class="Logo">
				<a href="@Url.Action(XafariRouteConfig.DefaultAction, XafariRouteConfig.ApplicationController)">
					@Html.Xafari().ImageInfo("Logo").GetHtml()
				</a>
			</td>
			<td class="Security">
				@Html.Xafari().MVCx().ActionContainerHolder(
					settings =>
					{
						settings.FrameTemplate = this.Model;

                        settings.Name = this.ViewData.Frame().ControlId("SAC");
                        settings.CssClass = "Security";
                        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
					    settings.ShowSeparators = true;

                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Notifications", IsDropDown = false });
                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Security", IsDropDown = false });
                        
					}).GetHtml()
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="ACPanel">
		<tr class="Content">
			<td class="Content WithPaddings" align="right">
				@Html.Xafari().MVCx().ActionContainerHolder(
					settings =>
					{
                        settings.FrameTemplate = this.Model;
                        
                        settings.Name = this.ViewData.Frame().ControlId("SHC");
                        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                        settings.CssClass = "TabsContainer";

                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "RootObjectsCreation", IsDropDown = false });
                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Appearance", IsDropDown = false });
                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Search", IsDropDown = false });
                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "FullTextSearch", IsDropDown = false });

					}).GetHtml()
			</td>
		</tr>
	</table>
</div>
