﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

<table class="LogonMainTable LogonContentWidth">
    <tr>
        <td>
            @Html.Xafari().Partial("Controls/Xafari.Mvc/_ErrorInfoControl")
        </td>
    </tr>
    <tr>
        <td>
            <table class="LogonContent LogonContentWidth">
                <tr>
                    <td class="LogonContentCell">
                        <div id="Logon_UPVSC">
                            @Html.Xafari().ViewSite(this.Model.View).GetHtml()
                        </div>
                        <div id="Logon_UPPopupActions" class="right">
                            @Html.Xafari().MVCx().ActionContainerHolder(settings =>
                            {
                                settings.FrameTemplate = this.Model;

                                settings.Name = this.ViewData.Frame().ControlId("PopupActions");

                                settings.Orientation = ActionContainerOrientation.Horizontal;
                                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;

                                settings.Menu.Width = Unit.Percentage(100);
                                settings.Menu.ItemAutoWidth = false;

                                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "PopupActions", IsDropDown = false});

                            }).GetHtml()
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
