﻿@using DevExpress.ExpressApp.Model

@model Xafari.Mvc.Wizard.MvcPopupWindowWizardTemplate

@{
    var height = 300;
    var width = 800;
}
<div class="Dialog" id="DialogContent">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top" height="100%">
                <div class="DialogContent Content">
                    @if (this.Model.LogoInfo != null && !this.Model.LogoInfo.IsEmpty)
                    {
                        <div style="width:120px;height: 300px; float:left;">
                            <img id="WizardLogo" style="width:100%;height: 100%;" alt="" src="@(this.Model.LogoInfo.ImageUrl)" />
                        </div>
                    }
                    <div style="width:calc(100% - 120px); float:left;">
                        <div class="ContentCaption" style="padding-left: 30px; padding-bottom: 10px;">
                            @Html.Xafari().RelativePartial("Header/_Partial")
                        </div>
                        <div class="ContentCell" style="padding-bottom: 60px">
                            <div id="ViewSite">
                                @Html.Xafari().RelativePartial("ViewSite/_Partial")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="DockBottom">
                    @Html.Xafari().RelativePartial("Buttons/_Partial")
                </div>
            </td>
        </tr>
    </table>
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
    this.ViewData.Frame().ControlId("HeaderCallbackPanel"),
	this.ViewData.Frame().ControlId("ButtonsCallbackPanel")

}).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    if (window.activePopupControl == null)
        window.activePopupControl = window.xafari.popup.findAvailablePopupControl();

    if (window.activePopupControl != null) {
        window.activePopupControl.SetHeaderText('@(this.Model.WizardCaption)');
        window.activePopupControl.SetHeight(@(height));
        window.activePopupControl.SetWidth(@(width));
    }
</script>

