﻿@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

<div id="UPEI">
	@Html.Xafari().Partial("Controls/Xafari.Mvc/_ErrorInfoControl")
</div>
<div id="UPVSC">
@if (this.Model.View != null)
{
	@Html.Xafari().ViewSite(this.Model.View).ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports").DependentContainers(this.ViewData.Frame().ControlId("UPToolbar")).GetHtml()
}
</div>