﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

<table id="menuContainer" style="float: right;">
    <tbody>
        <tr>
            <td>
                <div id="XafUpdatePanel1">
                    @Html.Xafari().MVCx().ActionContainerHolder(settings =>
                    {
                        settings.FrameTemplate = this.Model;

                        settings.Name = this.ViewData.Frame().ControlId("mainMenu");
                        settings.CssClass = "ACH MainToolbar";
                        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
                        settings.Orientation = ActionContainerOrientation.Horizontal;

                        settings.Menu.Width = Unit.Percentage(100);
                        settings.Menu.ItemAutoWidth = false;
                        settings.Menu.Name = "mainMenu";
                        settings.Menu.ControlStyle.Font.Size = FontUnit.Parse("14px");
                        settings.Menu.EnableAdaptivity = true;
                        //settings.Menu.ItemWrap = false;
                        settings.Menu.ControlStyle.BorderLeft.BorderStyle = BorderStyle.None;
                        settings.Menu.ControlStyle.BorderRight.BorderStyle = BorderStyle.None;

                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "ObjectsCreation"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Save", DefaultActionID = "Save", IsDropDown = true, AutoChangeDefaultAction = true});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Edit"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "RecordEdit"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "View"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Export"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Reports"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Filters"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "RecordsNavigation"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Tools"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Diagnostic"});

                    }).GetHtml()
                </div>
            </td>
            <td>
                <div id="XafUpdatePanel2">
                    @Html.Xafari().MVCx().ActionContainerHolder(settings =>
                    {
                        settings.FrameTemplate = this.Model;

                        settings.Name = this.ViewData.Frame().ControlId("SearchAC");
                        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
                        settings.Orientation = ActionContainerOrientation.Horizontal;

                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Search"});
                        settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "FullTextSearch"});

                    }).GetHtml()
                </div>
            </td>
        </tr>
    </tbody>
</table>
