﻿@using DevExpress.Web.Internal
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcNestedFrameTemplate

<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
@*<dx:ASPxGlobalEvents ID="GE" ClientSideEvents-EndCallback="window.XafPageEndCallBack" runat="server" />*@
<div class="NestedFrame" id="NestedFrame">
    @Html.Xafari().RelativePartial("Toolbar/_Partial")
    @if (this.Model.View != null)
    {
        <b class="dx-clear"></b>
        <div class="NestedFrameViewSite">
            @Html.Xafari().ViewSite(this.Model.View).DependentContainers(ViewData.Frame().ControlId("UPNestedFrameToolbar")).ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports").GetHtml()
        </div>
    }
</div>