﻿@using DevExpress.ExpressApp.Model

@model Xafari.Mvc.Wizard.MvcPopupWindowWizardTemplate

@{
    var height = 300;
    var width = 800;
}
<div class="Dialog" id="DialogContent">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top" height="100%">
                <div class="DialogContent Content">
                    <div class="ContentCell" style="padding-bottom: 60px">
                        <div id="ViewSite">
                            @Html.Xafari().RelativePartial("ViewSite/_Partial")
                        </div>
                    </div>
                </div>
                <div class="DockBottom">
                    @Html.Xafari().RelativePartial("Buttons/_Partial")
                </div>
            </td>
        </tr>
    </table>
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
	this.ViewData.Frame().ControlId("ButtonsCallbackPanel")

}).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    if (window.activePopupControl == null)
        window.activePopupControl = window.xafari.popup.findAvailablePopupControl();

    if (window.activePopupControl != null) {
        window.activePopupControl.SetHeaderText('@(this.Model.WizardCaption)');
        window.activePopupControl.SetHeight(@(height));
        window.activePopupControl.SetWidth(@(width));
    }
</script>

