﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates
@using Xafari.Mvc.Templates.ActionContainers

@model  MvcPopupWindowTemplate

@{
    var occ = Model.Containers("ObjectsCreation");
    var sac = Model.Containers("Search;FullTextSearch");
}

<style>
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }
</style>

<div @(sac.HasActiveActions() && this.Model.IsSearchEnabled || occ.HasActiveActions() ? "class = clearfix style = padding-bottom:30px" : "")>
    <div style="float: left; vertical-align: top;">
        @Html.Xafari().MVCx().ActionContainerHolder(settings =>
            {
                settings.FrameTemplate = this.Model;

                settings.Name = this.ViewData.Frame().ControlId("OCC");
                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;
                settings.Orientation = ActionContainerOrientation.Horizontal;
                settings.Style = "float: left";

                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "ObjectsCreation", IsDropDown = false });

            }).GetHtml()
    </div>
    <div style="float: right; vertical-align: top">
        @{
            if (this.Model.IsSearchEnabled)
            {
                Html.Xafari().MVCx().ActionContainerHolder(settings =>
                    {
                        settings.FrameTemplate = this.Model;

                        settings.Name = this.ViewData.Frame().ControlId("SAC");
                        settings.CssClass = "HContainer";
                        settings.Orientation = ActionContainerOrientation.Horizontal;
                        settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;

                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Search", IsDropDown = false });
                        settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "FullTextSearch", IsDropDown = false });
                    
                    }).Render();
            }
        }
    </div>
</div>

