﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates
@using Xafari.Mvc.Templates.ActionContainers

@model MvcNestedFrameTemplate

<div class="nf_Menu">
    <div class="nf_leftMenu">
        <div id="XafUpdatePanel1" class="ToolBarUpdatePanel">
            @Html.Xafari().MVCx().ActionContainerHolder(settings =>
            {
                settings.FrameTemplate = this.Model;

                settings.Name = this.ViewData.Frame().ControlId("ObjectsCreation");
                settings.CssClass = "nf_leftMenu_AC";
                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                settings.Orientation = ActionContainerOrientation.Horizontal;

                settings.Menu.Width = Unit.Percentage(100);
                settings.Menu.ItemAutoWidth = false;

                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "ObjectsCreation" });
                settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Link" });

            }).GetHtml()
        </div>
    </div>
    <div class="nf_rightMenu">
        <div id="UPToolBar" class="ToolBarUpdatePanel">
            @Html.Xafari().MVCx().ActionContainerHolder(settings =>
            {
                settings.FrameTemplate = this.Model;

                settings.Name = this.ViewData.Frame().ControlId("Toolbar");
                settings.CssClass = "nf_rightMenu_AC";
                settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                settings.Orientation = ActionContainerOrientation.Horizontal;

                settings.Menu.Width = Unit.Percentage(100);
                settings.Menu.ItemAutoWidth = false;
                settings.Menu.Name = "nestedFrameMenu";
                settings.Menu.ControlStyle.Font.Size = FontUnit.Parse("14px");
                settings.Menu.EnableAdaptivity = true;
                //settings.Menu.ItemWrap = false;
                settings.Menu.ControlStyle.BorderLeft.BorderStyle = BorderStyle.None;
                settings.Menu.ControlStyle.BorderRight.BorderStyle = BorderStyle.None;

                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Edit"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "RecordEdit"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "View"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Reports"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Export"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Diagnostic"});
                settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "Filters"});

            }).GetHtml()
        </div>
    </div>
</div>