﻿@using Xafari.Mvc
@using Xafari.Mvc.Editors

@model Xafari.Mvc.MVCx.Editors.MVCxBooleanPropertyEditor
@{
	var value = (Model.PropertyValue != null) && ((bool)Model.PropertyValue);
	if (Model.IsDefinedBoolImages || Model.IsDefinedBoolCaption)
	{
		<table>
			<tr>
				@if (Model.IsDefinedBoolImages)
				{
					<td>
						@Html.Xafari().ImageInfo(value ? Model.Model.ImageForTrue : Model.Model.ImageForFalse).GetHtml()
					</td>
				}
				<td>
					@(Model.IsDefinedBoolCaption ? value ? Model.Model.CaptionForTrue : Model.Model.CaptionForFalse : string.Empty)
				</td>
			</tr>
		</table>
	}
	else
	{
		@*<input type="checkbox"@(flag ? " checked" : "") disabled="disabled" />*@
		@*@Html.CheckBox(Model.FormName, value, new {id = Model.ControlId})
			<label for="@Model.ControlId" >@Model.Model.Caption</label>*@
		@Html.DevExpress().CheckBox(settings =>
		{
			settings.Name =
				Model.IsListView
					? Model.ControlId(ViewData.Frame().View, Model.CurrentObjectKeyValueAsString())
					: Model.ControlId();
			settings.Checked = value;
			settings.ReadOnly = true;
			settings.ClientEnabled = false;
			settings.Properties.EnableClientSideAPI = false;
			if (!Model.IsListView)
				settings.Text = Model.Model.Caption;
		}).GetHtml()
	}
}

