﻿@using DevExpress.Web.Mvc.Internal
@using DevExpress.Web.Mvc.UI
@using Xafari.Mvc
@using Xafari.Mvc.Controls
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Controls
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcWindowTemplate

@helper HeaderPane()
{
    <div id="HorizontalTemplateHeader" class="HorizontalTemplateHeader" style="width: 100%;">
        <table cellpadding="0" cellspacing="0" border="0" class="Top" width="100%">
            <tr>
                <td class="Logo">
                    <a href="@Url.Action(XafariRouteConfig.DefaultAction, XafariRouteConfig.ApplicationController)">
                        @Html.Xafari().ImageInfo("Logo2").GetHtml()
                    </a>
                </td>
                <td class="Security">
                    @Html.Xafari().MVCx().ActionContainerHolder(
                        settings =>
                        {
                            settings.FrameTemplate = this.Model;

                            settings.Name = this.ViewData.Frame().ControlId("SAC");
                            settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                            settings.ShowSeparators = true;
                            settings.CssClass = "Security";

                            settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Notifications", IsDropDown = false });
                            settings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Security", IsDropDown = false });
                            
                        }).GetHtml()
                </td>
            </tr>
        </table>
        @Html.Xafari().MVCx().NavigationTabsActionContainer(
            settings =>
            {
                settings.FrameTemplate = this.Model;
                
                settings.Name = this.ViewData.Frame().ControlId("NTAC");
                settings.ContainerId = "ViewsNavigation";
                settings.CssClass = "NavigationTabsActionContainer";

                settings.SpaceAfterTabsTemplate = c =>
                {
                    var callbackPanelSettings = new CallbackPanelSettings();
                    callbackPanelSettings.Name = this.ViewData.Frame().ControlId("NavigationCallbackPanel");
                    callbackPanelSettings.SettingsLoadingPanel.Enabled = false;
                    callbackPanelSettings.Width = Unit.Percentage(100);
                    callbackPanelSettings.Height = Unit.Percentage(100);
                    callbackPanelSettings.CallbackRouteValues(Html);
                    callbackPanelSettings.SetContent(() =>
                    {
                        this.Html.Xafari().MVCx().ActionContainerHolder(
                            actionContainerHolderSettings =>
                            {
                                actionContainerHolderSettings.FrameTemplate = this.Model;

                                actionContainerHolderSettings.Name = this.ViewData.Frame().ControlId("SHC");
                                actionContainerHolderSettings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Links;
                                actionContainerHolderSettings.CssClass = "TabsContainer";

                                actionContainerHolderSettings.ActionContainers.Add(new WebActionContainer() { ContainerId = "RootObjectsCreation", IsDropDown = false });
                                actionContainerHolderSettings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Appearance", IsDropDown = false });
                                actionContainerHolderSettings.ActionContainers.Add(new WebActionContainer() { ContainerId = "Search", IsDropDown = false });
                                actionContainerHolderSettings.ActionContainers.Add(new WebActionContainer() { ContainerId = "FullTextSearch", IsDropDown = false });

                            }).Render(Utils.Writer);
                    });
                    callbackPanelSettings.ClientSideEvents.BeginCallback = "function(s,e){ xafari.startProgress(); }";
                    callbackPanelSettings.ClientSideEvents.EndCallback = "function(s,e){ xafari.stopProgress(); }";

                    new CallbackPanelExtension(callbackPanelSettings).GetHtml();
                }; 
            }).GetHtml()
    </div>
}
@helper FooterPane()
{
    <div id="Footer" class="Footer">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="left">
                    <div class="FooterCopyright">
                        @Html.Partial("Controls/Xafari.Mvc/_AboutInfoControl")
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

<div id="PageContent" class="PageContent" style="height: 100%">

    @{
        MVCxPopupControlSettingsHelperBase popupControlSettingsHelper;
        if (MvcApplicationStyleManager.IsNewStyle)
        {
            popupControlSettingsHelper = new MVCxPopupControlSettingsHelper();
        }
        else
        {
            popupControlSettingsHelper = new MVCxPopupControlSettingsHelper_OldStyle();
        }

        var popupControlSettings = new PopupControlSettings();
        popupControlSettingsHelper.SetupPopupControl(popupControlSettings, null);
        popupControlSettings.ShowOnPageLoad = false;
    }

    <div id="PopupControlsContainer">
        @for (var i = 0; i < PopupWindowManager.MaxNestedLevel; i++)
        {
            popupControlSettings.Name = popupControlSettings.Name = MvcXafPopupWindowControl.PopupWindowIDPrefix + i.ToString();
            Html.DevExpress().PopupControl(popupControlSettings).GetHtml();
        }
    </div>

    @Html.Partial("Controls/Xafari.Mvc.MVCx.Controls/_ProgressControl")

    @if (this.Model.MvcXafPopupWindowControl != null)
    {
        @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
    }
    
    @Html.DevExpress().Splitter(settings2 =>
    {
        settings2.Name = ViewData.Frame().ControlId("MainSplitter");
        settings2.FullscreenMode = true;
        settings2.Orientation = Orientation.Vertical;
        settings2.SaveStateToCookies = true;
        settings2.SaveStateToCookiesID = "MainSplitter";
        settings2.ShowCollapseBackwardButton = true;
        settings2.SeparatorVisible = false;
        settings2.Panes.Add(headerPane =>
        {
            headerPane.Name = ViewData.Frame().ControlId("HeaderPane");
            headerPane.PaneStyle.Paddings.Padding = 0;
            headerPane.PaneStyle.Border.BorderStyle = BorderStyle.None;
            headerPane.AutoHeight = true;
            headerPane.AllowResize = DefaultBoolean.False;
            headerPane.SetContent(() => Html.ViewContext.Writer.Write(HeaderPane()));
        });
        settings2.Panes.Add(contentPane =>
        {
            contentPane.Name = ViewData.Frame().ControlId("ContentPane");
            contentPane.Separators.Visible = DefaultBoolean.True;
            contentPane.Panes.Add(
                pane =>
                {
                    pane.Name = ViewData.Frame().ControlId("Left");
                    pane.Size = Unit.Pixel(300);
                    pane.PaneStyle.Paddings.Padding = Unit.Pixel(1);
                    pane.PaneStyle.BorderLeft.BorderStyle = BorderStyle.None;
                    pane.SetContentRelativePartialView(Html, "_ToolsPartial");
                });
            contentPane.Panes.Add(
                pane =>
                {
                    pane.Name = ViewData.Frame().ControlId("Right");
                    pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
                    pane.PaneStyle.Border.BorderStyle = BorderStyle.None;
                    pane.Separators.Visible = DefaultBoolean.False;
                    pane.SetContentRelativePartialView(Html, "ViewSite/_Partial");
                });
        });
        settings2.Panes.Add(pane =>
        {
            pane.Name = ViewData.Frame().ControlId("FooterPane");
            pane.PaneStyle.Border.BorderStyle = BorderStyle.None;
            pane.PaneStyle.CssClass = "BodyBackColor";
            pane.MinSize = Unit.Pixel(20);
            pane.AutoHeight = true;
            pane.SetContent(() => Html.ViewContext.Writer.Write(FooterPane()));
        });
        
    }).GetHtml()
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel")
    
}).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    var loadwindowfunc = function () {
        if (window == window.top) {
            var i = 0;
            while (true) {
                var popupControlName = "PopupWindow" + i;
                var popupControl = window.top[popupControlName];
                if (popupControl) {
                    window.xafari.popup.PopupControls.push(popupControl);
                    if (i == 0) {
                        window.setTimeout(xafari.popup.asyncLoadIFrame(popupControl), 1);
                    }
                    i++;
                }
                else {
                    break;
                }
            }
        }
    }
    window.addEventListener("load", loadwindowfunc, false);
</script>

