﻿@using Xafari.Mvc.MVCx.Localization

@model Xafari.Mvc.MVCx.Editors.DropDownImageEdit

@{
	var buttonName = this.Model.ImageEdit.ViewItem.ControlId("SHB");
    
    var callbackPanelName = this.Model.ImageEdit.ViewItem.ControlId("DropDown_CallbackPanel");
    
    var popupControlName = this.Model.ImageEdit.ViewItem.ControlId("PPC");
    var panelControlName = this.Model.ImageEdit.ViewItem.ControlId("PNL");
    
	var getSetButtonTextScript = new Func<string, string>(text => string.Format("{0}.SetText('{1}');", buttonName, text));
    
	Func<string> getIsVisibleScript;
	Func<string> getHideScript;
	Func<string> getShowScript;

	if (this.Model.ShowInPopup)
	{
		@Html.DevExpress().PopupControl(settings =>
		{
			settings.Name = popupControlName;
			settings.Modal = false;
            settings.Styles.Header.HorizontalAlign = HorizontalAlign.Left;
			settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
			settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
			settings.AllowDragging = true;
			//settings.EnableViewState = false;
			settings.CloseAction = CloseAction.CloseButton;
			settings.HeaderText = MVCxImagePropertyEditorLocalizer.Active.GetLocalizedString("PopupHeader");

            settings.SetContent(() => Html.Xafari().RenderRelativePartial("../ImageEdit/_Main", this.Model.ImageEdit));

			settings.ClientSideEvents.Closing = string.Format("function(s,e) {{ {0} }}", getSetButtonTextScript(this.Model.ShowImageText));
            settings.ClientSideEvents.Shown = string.Format("function(s,e) {{ {0} }}", getSetButtonTextScript(this.Model.HideImageText));
            
		}).GetHtml()

		getHideScript = () => string.Format("{0}.Hide();", popupControlName);
        getIsVisibleScript = () => string.Format("{0}.GetVisible()", popupControlName);
		getShowScript = () => string.Format("{0}.Show();", popupControlName);
	}
	else
	{
		@Html.DevExpress().Panel(settings =>
		{
			settings.Name = panelControlName;
			settings.ClientVisible = false;
			settings.SetContent(() => Html.Xafari().RenderRelativePartial("../ImageEdit/_Main", this.Model.ImageEdit));
            
		}).GetHtml()

		getHideScript = () => string.Format("{0}.SetVisible(false);", panelControlName);
        getIsVisibleScript = () => string.Format("{0}.GetVisible()", panelControlName);
		getShowScript = () => string.Format("{0}.SetVisible(true);", panelControlName);
		
	}

	@Html.DevExpress().Button(settings =>
	{
        //CreateASPxButton
        settings.UseSubmitBehavior = false;
	    settings.EnableClientSideAPI = true;
        //
		settings.Name = buttonName;
        
		settings.Text = this.Model.ShowImageText;
		settings.ClientEnabled = true;
       
		settings.ClientSideEvents.Click = string.Format(@"
        function(s, e) {{
					if({0}) {{
						{1} 
						{2}
					}} else {{ 
						{3}.PerformCallback();
					}} 
				}}", getIsVisibleScript(), getHideScript(), getSetButtonTextScript(this.Model.ShowImageText), callbackPanelName);
        
	}).GetHtml()
}
