﻿@model Xafari.Mvc.MVCx.Editors.DropDownImageEdit

@{
	var buttonName = this.Model.ImageEdit.ViewItem.ControlId("SHB");

    var callbackPanelName = this.Model.ImageEdit.ViewItem.ControlId("DropDown_CallbackPanel");

    var panelControlName = this.Model.ImageEdit.ViewItem.ControlId("PNL");
    var popupControlName = this.Model.ImageEdit.ViewItem.ControlId("PPC");
}

@Html.DevExpress().CallbackPanel(settings =>
{
    settings.Name = callbackPanelName;
    
    settings.SettingsLoadingPanel.Enabled = false;

    settings.EnableTheming = false;
    settings.Styles.CssPostfix = "NoTheme";
    
    settings.CallbackRouteValues(this.Html);
    settings.SetContentRelativePartialView(this.Html, "_CallbackPanelContent");
    
    settings.ClientSideEvents.EndCallback = string.Format("function(s,e) {{ {0} {1}.SetText('{2}'); xafari.stopProgress(); }}",
        this.Model.ShowInPopup
            ? string.Format("{0}.Show();", popupControlName)
            : string.Format("{0}.SetVisible(true);", panelControlName),
        buttonName,
        this.Model.HideImageText);
    settings.ClientSideEvents.BeginCallback = "function(s,e){ xafari.startProgress(); }";
}).GetHtml()
