﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@Html.Xafari().Partial("Controls/Xafari.Mvc/_ErrorInfoControl")
<table class="Logon" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td id="Logon_ViewSite">
            @Html.Xafari().ViewSite(this.Model.View).GetHtml()
        </td>
    </tr>
    <tr>
        <td align="right" style="padding: 20px 0px 20px 0px">
            @Html.Xafari().MVCx().ActionContainerHolder(
                settings =>
                {
                    settings.FrameTemplate = this.Model;

                    settings.Name = this.ViewData.Frame().ControlId("PopupActions");
                    settings.Style = "margin-left: 10px; display: inline";
                    settings.Orientation = ActionContainerOrientation.Horizontal;
                    settings.ContainerStyle = DevExpress.ExpressApp.Web.Templates.ActionContainers.ActionContainerStyle.Buttons;

                    settings.Menu.Width = Unit.Percentage(100);
                    settings.Menu.ItemAutoWidth = false;
                    settings.Menu.ControlStyle.HorizontalAlign = HorizontalAlign.Right;

                    settings.ActionContainers.Add(new WebActionContainer() {ContainerId = "PopupActions", IsDropDown = false});

                }).GetHtml()
        </td>
    </tr>
</table>

