﻿@model Xafari.Mvc.Templates.MvcPopupWindowTemplate

<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
<style type="text/css">
    /*====================================================================================================================*/
</style>
<div id="UPPopupWindowControl">
    @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
</div>
<div class="dialogContent">
    @Html.Xafari().RelativePartial("Header/_Partial")
    <div id="viewSite" class="white">
        @Html.Xafari().RelativePartial("ViewSite/_Partial")
    </div>
</div>
<script type="text/javascript">
    window.top.pageLoaded = false;
    window.NewStyle = true;
    document.body.className = "dialog";

    var maxInitHeaderCallCount = 5;

    function InitHeader() {
        window.setTimeout(function() {
            var headerTable = document.getElementById("headerTable");
            SetItemsHeight(headerTable, headerTable.scrollHeight);
        }, 0);
    }

    function SetItemsHeight(headerTable, headerTableScrollHeight) {
        if (headerTableScrollHeight > 0 || maxInitHeaderCallCount == 0) {
            SetItemsHeightCore(headerTable, headerTableScrollHeight);
        } else {
            if (maxInitHeaderCallCount > 0) {
                maxInitHeaderCallCount--;
                InitHeader();
            }
        }
    }

    function SetItemsHeightCore(headerTable, headerTableScrollHeight) {
        var viewSite = document.getElementById("viewSite");

        headerTable.style.height = headerTableScrollHeight + "px";
        viewSite.style.marginTop = headerTableScrollHeight + "px";
        headerTable.style.position = 'fixed';
    }

    $(window).load(function() {
        window.top.pageLoaded = true;
        InitHeader();
        PageLoaded();
    });
</script>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[] { this.ViewData.Frame().ControlId("UPViewSite"), this.ViewData.Frame().ControlId("UPHeader") }).GetHtml()
