﻿@using DevExpress.ExpressApp.Utils

@model Xafari.Mvc.Templates.MvcWindowTemplate

<table>
    <tbody>
        <tr>
            <td>
                <div id="UPVIC">
                   @Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewImageControl", this.Model.View)
                </div>
            </td>
            <td>
                <div id="UPVH" style="color:#4A4A4A;font-size:X-Large;white-space: normal;">
                    @Html.Xafari().Partial("Controls/Xafari.Mvc/_ViewCaptionControl", this.Model.View)
                </div>
            </td>
        </tr>
    </tbody>
</table>
