﻿@using DevExpress.ExpressApp.Model
@using Xafari.Mvc.MVCx.Controls

@{
	DevExpress.ExpressApp.Web.Editors.ASPx.IDataItemTemplateInfoProvider dataItemTemplateInfoProvider = this.Model.Editor;

	GridViewGroupRowTemplateContainer container2 = this.Model.Container;
	GridViewDataColumn column = container2.Column;
	string caption = column.Caption;
	var columnInfo = dataItemTemplateInfoProvider.GetColumnInfo(column) as DevExpress.ExpressApp.Web.Editors.ASPx.IGridViewDataColumnInfo;
	string summaryText = container2.SummaryText;
}

<table id="Tbl">
	<tr>
		<td>@(caption.Replace(" ", "&nbsp;")):&nbsp;</td>
		<td>
			@if ((columnInfo != null) && (columnInfo.Model.GroupInterval == GroupInterval.None))
			{
				var container3 = new GridViewDataItemTemplateContainer(container2.Grid, 0, container2.VisibleIndex, container2.Column).ViewContext(this.ViewContext);
				container2.Grid.Templates.DataItem.InstantiateIn(container3);
				using (var writer = new HtmlTextWriter(this.ViewContext.Writer))
				{
					container3.RenderControl(writer);
				}
				container3.Controls.Clear();
				container3.Dispose();
			}
			else if (((container2.KeyValue != null) && (container2.KeyValue.GetType() == typeof(DateTime))) && (((DateTime)container2.KeyValue) == DateTime.MinValue))
			{
				@(string.Empty)
			}
			else
			{
				@(container2.GroupText)
			}
		</td>
		<td>&nbsp;@(summaryText.Replace(" ", ""))</td>
	</tr>
</table>
