﻿@using DevExpress.Data.Filtering
@using DevExpress.ExpressApp
@using DevExpress.ExpressApp.Actions
@using DevExpress.ExpressApp.DC
@using DevExpress.ExpressApp.Editors
@using DevExpress.ExpressApp.Model
@using DevExpress.ExpressApp.Utils
@using DevExpress.Persistent.Base
@using DevExpress.Persistent.Validation
@using DevExpress.Web.Rendering
@using Xafari.Mvc.MVCx.Controls
@using Xafari.Mvc.MVCx.Editors
@using Xafari.Mvc.Request
@using Xafari.Mvc.Templates

@model MVCxGridListEditor

@{
	var frame = this.ViewData.Frame();

	var settings = new GridViewSettings();
	this.Model.Settings = settings;
	
	settings.CallbackRouteValues = new
	{
		Controller = "MVCxGridListEditor",
		Action = "Callback",
		frameId = frame.FrameId(),
		windowId = this.ViewData.Window().WindowId()
	};

	//The template for each cell.
	settings.SetDataItemTemplateContent(a =>
	{
		var viewContext = a.ViewContext() ?? this.Html.ViewContext;
		this.Html.Xafari().RenderRelativePartial(viewContext.Writer, "_DataItemTemplateContent", new ListEditorTemplateContainer<MVCxGridListEditor, GridViewSettings, GridViewDataItemTemplateContainer> { Editor = this.Model, Container = a, Settings = settings });
	});

	//Conservation sorted list of objects.
	settings.BeforeGetCallbackResult += (sender, args) =>
	{
		var grid = (MVCxGridView)sender;
		
		if (grid.IsCallback)
			this.Model.SetupOrderedObjects(grid);
	};
	settings.DataBound += (sender, args) =>
	{
		var grid = (MVCxGridView)sender;
		
		if (!grid.IsCallback)
			this.Model.SetupOrderedObjects(grid);
	};
	//
	
	//Set selected object in Grid control
	settings.PreRender += (sender, args) =>
	{
		var grid = (MVCxGridView)sender;
		foreach (var obj in this.Model.GetSelectedObjects())
			grid.Selection.SelectRowByKey(this.Model.ObjectSpace.GetKeyValue(obj));
	};
	//

	//AssignDataSourceToControl
	this.Model.UpdateKeyFieldName();
	
	//CreateControlsCore
	if (MvcApplicationStyleManager.IsNewStyle)
	{
		settings.SettingsPager.Summary.Visible = false;
		string caption = settings.SettingsPager.PageSizeItemSettings.Caption;
		if (MvcApplicationStyleManager.EnableUpperCase && (caption != null))
		{
			settings.SettingsPager.PageSizeItemSettings.Caption = caption.Replace(":", "").ToUpper();
		}
	}
	if (this.Model.IsAdaptive)
	{
		settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Disabled;
		settings.Width = Unit.Percentage(100.0);
		settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
		settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
	}
	//this.grid.AutoGenerateColumns = false; in Init Event
	new MVCxGridViewSupportCallbackStartupScriptRegisteringImpl(settings).RegisterCallbackStartupScript += new EventHandler<DevExpress.ExpressApp.Web.RegisterCallbackStartupScriptEventArgs>(this.Model.startupScriptRegisteringImpl_RegisterCallbackStartupScript);
	settings.Name = frame.ControlId(this.Model.ControlId);
	settings.SettingsCookies.Enabled = false;
	settings.Settings.ShowFilterBar = GridViewStatusBarMode.Auto;
	settings.SettingsBehavior.EnableCustomizationWindow = true;
	settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Disabled;
	settings.Settings.ShowHeaderFilterButton = true;
	settings.SettingsEditing.UseFormLayout = false;
	settings.ControlStyle.CssClass = "GridView";
	settings.Styles.Header.Wrap = DefaultBoolean.True;
	settings.EnableRowsCache = false;
	if (this.Model.EnableGroupTemplate)
	{
		//settings.Templates.GroupRowContent = new GroupContentTemplate(this.Model);
		settings.SetGroupRowContentTemplateContent(a =>
		{
			var viewContext = a.ViewContext() ?? this.Html.ViewContext;
			this.Html.Xafari().RenderRelativePartial(viewContext.Writer, "_GroupRowContentTemplateContent", new ListEditorTemplateContainer<MVCxGridListEditor, GridViewSettings, GridViewGroupRowTemplateContainer> { Editor = this.Model, Container = a, Settings = settings });
		});

	}
	this.Model.ApplyModel();

	//SetVisible columns
	foreach (var column in settings.Columns.OfType<WebColumnBase>())
	{
		column.Visible = column.VisibleIndex >= 0;
	}
	//
	
	#region SubscribeGridViewEvents()

	settings.Init += (sender, args) =>
	{
		MVCxGridView grid = (MVCxGridView)sender;
		
		grid.AutoGenerateColumns = false;

		grid.CustomErrorText += (s, e) =>
		{
			if (e.Exception is ValidationException)
			{
				e.ErrorText = ((ValidationException)e.Exception).Message.Replace("\r\n", "<br>");
			}
		};
		grid.HtmlDataCellPrepared += (s, e) =>
		{
			DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo columnInfo = this.Model.GetColumnInfo(e.DataColumn) as DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo;
			if (columnInfo != null)
			{
				object rowObject = this.Model.GetRowObject(e.VisibleIndex, grid);
				this.Model.OnCustomizeAppearance(new CustomizeAppearanceEventArgs(columnInfo.Model.PropertyName, new DevExpress.ExpressApp.Web.Editors.TableCellAppearanceAdapter(e.Cell), rowObject));
			}

		};

		grid.HtmlEditFormCreated += (s, e) =>
		{
			if (e.EditForm != null)
			{
				//e.EditForm.Load += new EventHandler(this.EditForm_Load);
				this.Model.ApplyAppearance(e.EditForm, grid);
			}

		};
		grid.HtmlRowPrepared += (s, e) =>
		{
			if (e.RowType == GridViewRowType.InlineEdit)
			{
				object rowObject = this.Model.GetRowObject(e.VisibleIndex, grid);
				foreach (TableCell cell in e.Row.Cells)
				{
					GridViewTableEditorCellBase editCell = cell as GridViewTableEditorCellBase;
					if (editCell != null)
					{
						DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo columnInfo = this.Model.GetColumnInfo(editCell.Column) as DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo;
						if (columnInfo != null)
						{
							this.Model.ApplyAppearance(rowObject, editCell, columnInfo.Model.PropertyName);
						}
					}
				}
			}

		};
		grid.ClientLayout += (s, e) =>
		{
			switch (e.LayoutMode)
			{
				case ClientLayoutMode.Loading:
					break;

				case ClientLayoutMode.Saving:
				{
					var mvcxGridView = sender as MVCxGridView;
					if (mvcxGridView != null)
					{
						this.Model.AssignProperties(mvcxGridView);
						this.Model.OnISupportModelSaving();
					}
					break;
				}

				default:
					return;
			}
		};
		grid.HeaderFilterFillItems += (s, e) =>
		{
			DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo columnInfo = this.Model.GetColumnInfo(e.Column) as DevExpress.ExpressApp.Web.Editors.ASPx.IDataColumnInfo;
			if (columnInfo != null)
			{
				IMemberInfo memberInfo = columnInfo.MemberInfo;
				if (memberInfo.MemberType.IsEnum)
				{
					EnumDescriptor descriptor = new EnumDescriptor(memberInfo.MemberType);
					foreach (FilterValue value2 in e.Values)
					{
						if (Enum.IsDefined(memberInfo.MemberType, value2.Value))
						{
							object obj2 = Enum.Parse(memberInfo.MemberType, value2.Value);
							value2.DisplayText = descriptor.GetCaption(obj2);
						}
					}
				}
				if (memberInfo.MemberType == typeof(bool))
				{
					IModelColumn model = columnInfo.Model;
					foreach (FilterValue value3 in e.Values)
					{
						bool flag = !string.IsNullOrEmpty(model.CaptionForTrue) && !string.IsNullOrEmpty(model.CaptionForFalse);
						if ((value3.Value == bool.TrueString) && flag)
						{
							value3.DisplayText = model.CaptionForTrue;
						}
						if ((value3.Value == bool.FalseString) && flag)
						{
							value3.DisplayText = model.CaptionForFalse;
						}
					}
				}
				if (memberInfo.MemberType == typeof(decimal))
				{
					IModelColumn column2 = columnInfo.Model;
					foreach (FilterValue value4 in e.Values)
					{
						try
						{
							decimal num = decimal.Parse(value4.DisplayText);
							if (string.IsNullOrEmpty(column2.DisplayFormat))
							{
								value4.DisplayText = string.Format(FormattingProvider.GetDisplayFormat(typeof(decimal)), num);
							}
							else
							{
								value4.DisplayText = string.Format(column2.DisplayFormat, num);
							}
						}
						catch
						{
						}
					}
				}
			}

		};
		grid.AutoFilterCellEditorCreate += (s, e) =>
		{
			this.Model.SetupAutoFilterCellEditor(e);

		};
		grid.AutoFilterCellEditorInitialize += (s, e) =>
		{
			bool useASPxGridViewDataSpecificColumns = MVCxGridListEditor.UseASPxGridViewDataSpecificColumns;
		};
		grid.BeforeGetCallbackResult += (s, e) =>
		{
			if (this.Model.NeedGetUpdatePanelsRenderResults)
			{
				DevExpress.ExpressApp.Web.SystemModule.GetCustomRenderResultsArgs getCustomRenderResultsArgs = new DevExpress.ExpressApp.Web.SystemModule.GetCustomRenderResultsArgs();
				this.Model.OnGetUpdatePanelsRenderResults(getCustomRenderResultsArgs);
				if (getCustomRenderResultsArgs.RenderResults.Count > 0)
				{
					if (!grid.JSProperties.ContainsKey("cpEndCallbackHandlers"))
					{
						grid.JSProperties["cpEndCallbackHandlers"] = "";
					}
					grid.JSProperties["cpEndCallbackHandlers"] = "cpProcessCustomRenderResult;" + grid.JSProperties["cpEndCallbackHandlers"];
					grid.JSProperties["cpControlsToUpdate"] = "";
					grid.JSProperties["cpProcessCustomRenderResult"] = "ProcessMarkup(s, true);";
					foreach (string str in getCustomRenderResultsArgs.RenderResults.Keys)
					{
						Dictionary<string, object> dictionary;
						grid.JSProperties["cp" + str] = getCustomRenderResultsArgs.RenderResults[str];
						(dictionary = grid.JSProperties)["cpControlsToUpdate"] = dictionary["cpControlsToUpdate"] + str + ";";
					}
				}
				this.Model.needGetUpdatePanelsRenderResults = false;
			}
		};
		if (this.Model.IsBatchMode)
		{
			if (this.Model.CollectionSource.DataAccessMode == CollectionSourceDataAccessMode.DataView)
			{
				throw new Exception("The ASPxGridListEditor doesn't support the Batch edit mode together with the DataView data access mode. " + string.Format("To fix this issue, change the InlineEditMode or the DataAccessMode property of the '{0}' node in the Model Editor", this.Model.Model.Id));
			}
			if (grid.SettingsPager.Mode == GridViewPagerMode.EndlessPaging)
			{
				throw new Exception("The ASPxGridListEditor doesn't support the Batch edit mode together with the Endless Paging mode. " + string.Format("To fix this issue, change the InlineEditMode or the AllowEndlessPaging property of the '{0}' node in the Model Editor.", this.Model.Model.Id));
			}
			if (DevExpress.ExpressApp.Web.Editors.ASPx.ASPxGridBatchModeHelper.CheckEnabled(grid, this.Model.AllowEdit))
			{
				this.Model.BatchEditModeHelper.Attach(grid);
			}
		}
		else
		{
			if (this.Model.NewItemRowPosition != NewItemRowPosition.None)
			{
				grid.InitNewRow += (s, e) =>
				{
					this.Model.NewObject = this.Model.OnNewObjectAdding();
					this.Model.OnNewObjectCreated();
					this.Model.DataBind();
				};
				grid.RowInserting += (s, e) =>
				{
					this.Model.NewObject = null;
					this.Model.CancelEdit();
					e.Cancel = true;
				};
			}
			grid.RowValidating += (s, e) =>
			{
				ValidateObjectEventArgs ea = new ValidateObjectEventArgs(this.Model.EditingObject, true);
				try
				{
					this.Model.OnValidateObject(ea);
					if (ea.Valid)
					{
						this.Model.OnCommitChanges();
					}
				}
				catch (Exception exception)
				{
					ea.Valid = false;
					if (!string.IsNullOrEmpty(exception.Message))
					{
						ea.ErrorText = exception.Message.Replace("\r\n", "<br>");
					}
				}
				if (!ea.Valid)
				{
					e.RowError = ea.ErrorText;
				}

			};
			grid.StartRowEditing += (s, e) =>
			{
				ASPxGridView view = sender as ASPxGridView;
				this.Model.EditingObject = view.GetRow(view.FindVisibleIndexByKeyValue(e.EditingKeyValue));

			};
			grid.CancelRowEditing += (s, e) =>
			{
				if (this.Model.NewObject != null)
				{
					this.Model.OnNewObjectCanceled();
					this.Model.NewObject = null;
				}
				else if ((this.Model.EditingObject != null) && !this.Model.ObjectSpace.IsNewObject(this.Model.EditingObject))
				{
					this.Model.ObjectSpace.ReloadObject(this.Model.EditingObject);
				}
				this.Model.EditingObject = null;
			};
			grid.RowUpdated += (s, e) =>
			{
				this.Model.EditingObject = null;
				this.Model.Refresh();
			};
		}

		//Control Init
		this.Model.ASPxGridViewExporter.Page = grid.Page;
		this.Model.DataBind(grid);
		this.Model.needRebindData = false;
		//Control Load
		if (settings.SettingsPager.Mode == GridViewPagerMode.EndlessPaging)
		{
			settings.Width = Unit.Percentage(100.0);
		}
		//if (this.Model.needRefreshOrderedObjectsCache)
		//{
		//    this.Model.orderedObjectsCache = this.Model.GetOrderedObjects();
		//}
	};

	#endregion

	if (this.Model.NewItemRowPosition != NewItemRowPosition.None)
	{
		settings.SettingsEditing.NewItemRowPosition = (this.Model.NewItemRowPosition == NewItemRowPosition.Top) ? GridViewNewItemRowPosition.Top : GridViewNewItemRowPosition.Bottom;
	}
	if (settings.SettingsDetail.ShowDetailRow)
	{
		//settings.Templates.DetailRow = this.CreateDetailRowTemplate();
	}
	if (((MVCxGridListEditor.AllowFilterControlHierarchy && (this.Model.CollectionSource != null)) && ((this.Model.CollectionSource.ObjectTypeInfo != null) && (this.Model.Application != null))) && ((this.Model.Application.Model != null) && (this.Model.Application.Model.BOModel != null)))
	{
		settings.SettingsFilterControl.AllowHierarchicalColumns = true;
		settings.SettingsFilterControl.ShowAllDataSourceColumns = true;
		settings.SettingsFilterControl.ViewMode = FilterControlViewMode.VisualAndText;
		settings.SettingsFilterControl.MaxHierarchyDepth = 3;
		//this.Model.filterControlHelper = new ASPxGridViewFilterControlColumnsHelper(this.grid);
		//new XafASPxGridViewFilterControlCustomizer(this.Model.CollectionSource.ObjectTypeInfo, this.Model.Application.Model.BOModel, this.filterControlHelper);
	}
	this.Model.aspxGridViewExporter = new ASPxGridViewExporter();
	this.Model.aspxGridViewExporter.GridViewID = settings.Name;
	//this.Model.aspxGridViewExporter.RenderBrick += new ASPxGridViewExportRenderingEventHandler(this.exporter_RenderBrick);
	this.Model.OnPrintableChanged();

	//ASPxGridViewContextMenu CreateControlsCore()
	var menu = this.Model.ContextMenuTemplate as MVCxGridListEditorContextMenu;
	if (!menu.IsContextMenuActual())
	{
		settings.SettingsContextMenu.Enabled = true;
		settings.SettingsContextMenu.EnableRowMenu = DefaultBoolean.False;
		settings.Init += (sender, args) =>
		{
			MVCxGridView grid = (MVCxGridView)sender;
			grid.HtmlDataCellPrepared += (s, e) =>
			{
				if (menu.CancelClickEventPropagationForColumn(e.DataColumn))
				{
					e.Cell.Attributes["onclick"] = "event.cancelBubble = true;";
				}
				if (!menu.Editor.IsBatchMode)
				{
					menu.SetupCellAttributes(e.Cell);
				}

			};
			grid.CustomButtonInitialize += (s, e) =>
			{
				if ((e.CellType != GridViewTableCommandCellType.Filter) && (e.Column is MVCxGridViewDataActionColumn))
				{
					ActionBase action = ((MVCxGridViewDataActionColumn)e.Column).Action;
					object rowObject = menu.Editor.GetRowObject(e.VisibleIndex, grid);
					if (menu.GetRowActionActivity(action, rowObject) && (!menu.Editor.IsBatchMode || (e.VisibleIndex != -2147483647)))
					{
						//menu.InsertConfirmMessageInJSProperty(e.VisibleIndex, rowObject, action);
						Dictionary<int, string> dictionary;
						if (!menu.confirmationMessages.TryGetValue(action.Id, out dictionary))
						{
							dictionary = new Dictionary<int, string>();
							menu.confirmationMessages[action.Id] = dictionary;
						}
						dictionary[e.VisibleIndex] = MVCxGridListEditorContextMenu.GetConfirmationMessage(action, rowObject);
						grid.JSProperties["cpCnfrm"] = menu.confirmationMessages;
						//
					}
					else
					{
						e.Visible = DefaultBoolean.False;
					}
				}

			};
			grid.CommandButtonInitialize += (s, e) =>
			{
				if (e.ButtonType == ColumnCommandButtonType.Edit)
				{
					ActionBase action = menu.FindInlineEditAction();
					if (action != null)
					{
						action.Enabled.RemoveItem("By Criteria");
						e.Visible = menu.GetRowActionActivity(action, menu.Editor.GetRowObject(e.VisibleIndex, grid));
					}
					else
					{
						e.Visible = false;
					}
				}

			};
			grid.HtmlRowPrepared += (s, e) =>
			{
				if (e.RowType == GridViewRowType.Data)
				{
					object rowObject = menu.Editor.GetRowObject(e.VisibleIndex, grid);

					if (menu.GetRowActionActivity(menu.ProcessSelectedItemAction, rowObject))
					{
						e.Row.Attributes["Cnfrm"] = HttpUtility.HtmlEncode(MVCxGridListEditorContextMenu.GetConfirmationMessage(menu.ProcessSelectedItemAction, rowObject));
						e.Row.Attributes["ActionArg"] = menu.GetPostBackArgument(menu.ProcessSelectedItemAction, e.VisibleIndex, rowObject, grid);
					}
					else if (DevExpress.ExpressApp.Web.TestScripts.TestScriptsManager.EasyTestEnabled)
					{
						e.Row.Attributes["IsClickDisabled"] = "true";
					}
					e.Row.Attributes["onmouseenter"] = "this.className += ' over'";
					e.Row.Attributes["onmouseleave"] = "this.className = this.className.replace(' over', '')";
					for (int i = 0; i < e.Row.Cells.Count; i++)
					{
						TableCell cell = e.Row.Cells[i];
						if (cell is GridViewTableCommandCell)
						{
							cell.Attributes["IsCommand"] = "true";
						}
						if ((cell is GridViewTableDetailButtonCell) || (cell is GridViewTableAdaptiveDetailButtonCell))
						{
							cell.Attributes["IsDetail"] = "true";
						}
					}
				}
			};
			
			if (menu.ProcessSelectedItemAction != null)
			{
				var mvcProcessSelectedItemActionUrl = this.Url.Action("ExecuteProcessSelectedItemAction", "MVCxGridListEditorContextMenu", new
				{
					objectId = "JSObjectId",
					actionId = menu.ProcessSelectedItemAction.ActionId(),
					frameId = menu.ProcessSelectedItemAction.Controller.Frame.FrameId(),

					windowId = this.ViewData.Window().WindowId(),
					windowState = ClientRequest.Current.Window.WindowState
				});
				var processSelectedItemActionExecuteScript = menu.ProcessSelectedItemAction.GetXafActionExecuteScript(this.ViewData.Window(), "JSConfirmationMessage", mvcProcessSelectedItemActionUrl);

				grid.ClientSideEvents.RowClick = string.Format(@"function(s, e) {{
	if(!s.XafGridViewUpdateWatcherHelper || s.XafGridViewUpdateWatcherHelper.CanProcessCallbackForGridView(s, e)) {{ 
		window.ProcessGridRowClick(s, e.visibleIndex, e.htmlEvent, 'xafari.processSelectedItemAction(\'{0}\', ActionArg, \'Cnfrm\')');
	}}
}}", processSelectedItemActionExecuteScript);
				grid.JSProperties["cpCallbackHandlerID"] = ((ASPxGridView)sender).UniqueID;
				if (menu.UseFastCallbackHandler)
				{
					grid.JSProperties["cpFastCallbackHandlerID"] = menu.callbackHandlerId;
				}
			}
			
			DevExpress.ExpressApp.Web.Utils.ClientSideEventsHelper.AssignClientHandlerSafe(grid, "SelectionChanged", string.Format(@"
	function(s, e) {{
		if(!e.isChangedOnServer) {{
			var ids = [];
			if (e.isAllRecordsOnPage) {{
				if (e.isSelected)
					ids = s.GetSelectedKeysOnPage();
				else
					for(var i=0;i<s.GetVisibleRowsOnPage();i++)
						ids.push(s.GetRowKey(i));
			}}
			else
				ids.push(s.GetRowKey(e.visibleIndex));

			xafari.listEditorUpdateSelection({{id: ids, frameId: '{0}', windowId: '{1}', selected: e.isSelected}});
		}}
	}}", this.ViewData.Frame().FrameId(), this.ViewData.Window().WindowId()), "gridControl.SelectionChanged");

			var mvcActionUrl = this.Url.Action("CustomButtonClick", "MVCxGridListEditorContextMenu", new
			{
				frameId = this.ViewData.Frame().FrameId(),
				
				windowId = this.ViewData.Window().WindowId(),
				windowState = ClientRequest.Current.Window.WindowState
			});
			var script = string.Format("$.post('{0}', {{ parameters: postBackArgument }});", mvcActionUrl);
			DevExpress.ExpressApp.Web.Utils.ClientSideEventsHelper.AssignClientHandlerSafe(grid, "CustomButtonClick", string.Format("\r\n                        function(s, e) {{\r\n                            if(!s.XafGridViewUpdateWatcherHelper || s.XafGridViewUpdateWatcherHelper.CanProcessCallbackForGridAction(e.buttonID)){{\r\n                                var pageIndex = s.pageIndex != -1 ? s.pageIndex : 0;\r\n                                var index = s.useEndlessPaging ? e.visibleIndex : e.visibleIndex - s.pageRowSize * pageIndex;\r\n                                var objectId = s.stateObject.keys[index];\r\n                                var confirmationMessage = s.{1}[e.buttonID][e.visibleIndex];\r\n                                var isPostBackRequired = s.{2}[e.buttonID];\r\n                                var handlerID = s.cpCallbackHandlerID;\r\n\r\n                                if(!objectId){{\r\n                                    objectId = e.visibleIndex;\r\n                                }}\r\n                                var postBackArgument = '{0}' + e.buttonID + ':' + objectId;                             \r\n                                {3} \r\n                            }}\r\n                        }}", new object[] { "XafAction:", "cpCnfrm", "cpPostBackRequired", script }), "gridControl.CustomButtonClick");
		};
		if (menu.Editor.DisplayActionColumns)
		{
			menu.CreateActionColumns(settings);
		}
		if (menu.Editor.AllowEdit && (menu.FindInlineEditAction() != null))
		{
			//this.editColumn = new XafGridViewCommandColumn();
			var editColumn = new GridViewCommandColumn();
			editColumn.Width = new Unit(60);
			editColumn.AllowDragDrop = DefaultBoolean.False;
			settings.Styles.CommandColumnItem.Cursor = "pointer";
			editColumn.ShowEditButton = true;
			editColumn.ShowUpdateButton = true;
			editColumn.ShowCancelButton = true;
			if (menu.Editor.IsBatchMode)
			{
				editColumn.ShowEditButton = false;
				editColumn.ShowDeleteButton = true;
			}
			//MVCxImageHelper.SetImageProperties(settings.SettingsCommandButton.EditButton.Image, "Action_Inline_Edit", 0x10, 0x10);
			//MVCxImageHelper.SetImageProperties(settings.SettingsCommandButton.CancelButton.Image, "Action_Cancel", 0x10, 0x10);
			//MVCxImageHelper.SetImageProperties(settings.SettingsCommandButton.UpdateButton.Image, "Action_Save", 0x10, 0x10);
			//MVCxImageHelper.SetImageProperties(settings.SettingsCommandButton.NewButton.Image, "Action_Inline_New", 0x10, 0x10);
			//MVCxImageHelper.SetImageProperties(settings.SettingsCommandButton.DeleteButton.Image, "Action_Delete", 0x10, 0x10);
			bool flag = (!settings.SettingsCommandButton.EditButton.Image.IsEmpty && !settings.SettingsCommandButton.CancelButton.Image.IsEmpty) && !settings.SettingsCommandButton.UpdateButton.Image.IsEmpty;
			editColumn.ButtonRenderMode = flag ? menu.CommandButtonType : GridCommandButtonRenderMode.Link;
			editColumn.Name = "InlineEditCommandColumn";
			editColumn.Caption = " ";
			settings.Columns.Insert(0, (GridViewColumn)editColumn);//settings.Columns.Add((GridViewColumn)editColumn);
			editColumn.VisibleIndex = 0;
			menu.UpdateNewItemRowPosition();
		}
		if (menu.Editor.CanSelectRows)
		{
			//this.selectColumn = new XafGridViewCommandColumn();
			var selectColumn = new GridViewCommandColumn();
			selectColumn.Name = "SelectionCommandColumn";
			selectColumn.Caption = " ";
			selectColumn.ShowSelectCheckbox = true;
			selectColumn.Width = Unit.Pixel(30);
			selectColumn.AllowDragDrop = DefaultBoolean.False;
			selectColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;
			settings.Columns.Insert(0, (GridViewColumn)selectColumn);//settings.Columns.Add((GridViewColumn)selectColumn);
			selectColumn.VisibleIndex = 0;
		}
		settings.CustomJSProperties += (s, e) => e.Properties["cpCanSelectRows"] = menu.Editor.CanSelectRows;
		if (settings.SettingsPager.Mode != GridViewPagerMode.EndlessPaging)
		{
			menu.confirmationMessages = new Dictionary<string, Dictionary<int, string>>();
		}
	}

	this.Model.OnCustomizeSettings(new CustomizeSettingsEventArgs(settings, this));
}

@Html.DevExpress().GridView(settings).GetHtml()

