﻿@using System.Configuration
@{
	const bool useOnBlurInStartProgress = false;
    
	var settings = new LoadingPanelSettings { Name = "xafProgressControl", Modal = true };
	
	settings.Attributes["ondblclick"] = "xafari.stopProgress()";
	//settings.ClientSideEvents.Init = "function(s, e) { xafari.hideXafProgressControl(); }";
	
	settings.CustomJSProperties += (sender, args) => { args.Properties["cpUseOnBlurInStartProgress"] = useOnBlurInStartProgress; };
}
<span id="ProgressControl">
	@Html.DevExpress().LoadingPanel(settings).GetHtml()
</span>

<script>
    @{
        var delayShow = ConfigurationManager.AppSettings["ProgressControlShowDelay"];
        int delayShowResult = 0;
        var delayHide= ConfigurationManager.AppSettings["ProgressControlHideDelay"];
        int delayHideResult = 0;

        if (!string.IsNullOrEmpty(delayShow) && int.TryParse(delayShow, out delayShowResult))
        {
    <text>xafari.SetXafProgressControlDelayShow(@delayShow);</text>
        }
        if (!string.IsNullOrEmpty(delayHide) && int.TryParse(delayHide, out delayHideResult))
        {
    <text>xafari.SetXafProgressControlDelayHide(@delayHide);</text>
        }
    }
    xafari.startProgress();
</script>