﻿@using DevExpress.ExpressApp.Model

@model Xafari.Mvc.Wizard.MvcPopupWindowWizardTemplate

@{
    var height = 320;
    var width = 800;
}
<div class="Dialog" id="DialogContent">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td valign="top" height="100%">
                <div class="DialogContent Content">
                    <div class="ContentCaption BodyBackColor VerticalTemplateHeader FooterCopyright" style="overflow:hidden; clear:both; border: 1px solid #C0C0C0; text-align: left;">
                        <div style=" padding-left: 30px; padding-bottom: 10px; float:left;">
                            @Html.Xafari().RelativePartial("Header/_Partial")
                        </div>
                        @if (this.Model.LogoInfo != null && !this.Model.LogoInfo.IsEmpty)
                        {
                            <div style="width:70px;height: 70px; float:right;">
                                <img id="WizardLogo" style="width:100%;height: 100%;" alt="" src="@(this.Model.LogoInfo.ImageUrl)" />
                            </div>
                        }
                    </div>
                    <div style="display:flex; align-items: flex-start;">
                        <div  id ="stepNav" class="BodyBackColor FooterCopyright" style="width: 200px; vertical-align: top; padding: 5px; border-radius:5px; border:solid 1px #C0C0C0; margin:5px; padding:15px; text-align: left;">
                            @for (var i = 0; i < this.Model.StepsList.Count; i++)
                            {
                                <span data-index="@(i.ToString())">- @(this.Model.StepsList[i])</span>
                                <br>
                            }
                        </div>
                        <div class="ContentCell" style="padding-bottom: 60px; width:calc(100% - 200px);">
                            <div id="ViewSite">
                                @Html.Xafari().RelativePartial("ViewSite/_Partial")
                            </div>
                        </div>

                    </div>
                </div>
                <div class="DockBottom">
                    @Html.Xafari().RelativePartial("Buttons/_Partial")
                </div>
            </td>
        </tr>
    </table>
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
    this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
    this.ViewData.Frame().ControlId("HeaderCallbackPanel"),
	this.ViewData.Frame().ControlId("ButtonsCallbackPanel")

}).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    if (window.activePopupControl == null)
        window.activePopupControl = window.xafari.popup.findAvailablePopupControl();

    if (window.activePopupControl != null) {
        window.activePopupControl.SetHeaderText('@(this.Model.WizardCaption)');
        window.activePopupControl.SetHeight(@(height));
        window.activePopupControl.SetWidth(@(width));
    }
</script>

