﻿@model Xafari.Mvc.Templates.MvcWindowTemplate

<style>
	.BodyBackColor > div.dxsplLCC {
		padding: 0;
	}
</style>
<div>
	@(string.Join("<br>", new List<string>(Model.Status).Select(HttpUtility.HtmlEncode).ToArray()))
</div>
<div id="Footer" class="Footer">
	<div class="FooterCopyright" style="text-align: right;">
		@Html.Partial("Controls/Xafari.Mvc/_AboutInfoControl")
	</div>
</div>
