﻿@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc.UI
@using Xafari.Mvc
@using Xafari.Mvc.Controls
@using Xafari.Mvc.MVCx
@using Xafari.Mvc.MVCx.Controls

@model Xafari.Mvc.Templates.MvcWindowTemplate

<div id="PageContent" class="PageContent" style="height: 100%">
    @{
        MVCxPopupControlSettingsHelperBase popupControlSettingsHelper;
        if (MvcApplicationStyleManager.IsNewStyle)
        {
            popupControlSettingsHelper = new MVCxPopupControlSettingsHelper();
        }
        else
        {
            popupControlSettingsHelper = new MVCxPopupControlSettingsHelper_OldStyle();
        }
        
        var popupControlSettings = new PopupControlSettings();
        popupControlSettingsHelper.SetupPopupControl(popupControlSettings, null);
        popupControlSettings.ShowOnPageLoad = false;
    }

    <div id="PopupControlsContainer">
        @for (var i = 0; i < PopupWindowManager.MaxNestedLevel; i++)
        {
            popupControlSettings.Name = popupControlSettings.Name = MvcXafPopupWindowControl.PopupWindowIDPrefix + i.ToString();
            Html.DevExpress().PopupControl(popupControlSettings).GetHtml();
        }
    </div>

    @Html.Partial("Controls/Xafari.Mvc.MVCx.Controls/_ProgressControl")

    @if (this.Model.MvcXafPopupWindowControl != null)
    {
        @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
    }
    
    @Html.DevExpress().Splitter(settings2 =>
    {
        settings2.Name = ViewData.Frame().ControlId("MainSplitter");
        settings2.FullscreenMode = true;
        settings2.Orientation = Orientation.Vertical;
        settings2.SaveStateToCookies = true;
        settings2.SaveStateToCookiesID = "MainSplitterVertical";
        settings2.ShowCollapseBackwardButton = true;
        settings2.SeparatorVisible = false;
        settings2.Panes.Add(headerPane =>
        {
            headerPane.Name = ViewData.Frame().ControlId("HeaderPane");
            headerPane.PaneStyle.Paddings.Padding = 0;
            headerPane.PaneStyle.Border.BorderStyle = BorderStyle.None;
            headerPane.AutoHeight = true;
            headerPane.AllowResize = DefaultBoolean.False;
            headerPane.SetContentRelativePartialView(Html, "Header/_Partial");
        });
        settings2.Panes.Add(contentPane =>
        {
            contentPane.Name = ViewData.Frame().ControlId("ContentPane");
            contentPane.Separators.Visible = DefaultBoolean.True;
            contentPane.Panes.Add(
                pane =>
                {
                    pane.Name = ViewData.Frame().ControlId("LeftPane");
                    pane.Size = Unit.Pixel(500);
                    pane.ScrollBars = ScrollBars.Auto;
                    pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
                    pane.PaneStyle.BorderLeft.BorderStyle = BorderStyle.None;
                    pane.SetContentRelativePartialView(Html, "_LeftPanePartial");
                });
            contentPane.Panes.Add(
                pane =>
                {
                    pane.Name = ViewData.Frame().ControlId("ViewSitePane");
                    pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
                    pane.PaneStyle.Border.BorderStyle = BorderStyle.None;
                    pane.Separators.Visible = DefaultBoolean.False;
                    pane.SetContentRelativePartialView(Html, "ViewSite/_Partial");
                });
        });
        settings2.Panes.Add(pane =>
        {
            pane.Name = ViewData.Frame().ControlId("FooterPane");
            pane.PaneStyle.Border.BorderStyle = BorderStyle.None;
            pane.PaneStyle.CssClass = "BodyBackColor";
            pane.MinSize = Unit.Pixel(20);
            pane.AutoHeight = true;
            pane.SetContentRelativePartialView(Html, "_FooterPanePartial");
        });
    }).GetHtml()
</div>
 
@Html.Xafari().ShowViewStrategy().DependentContainers(new[]
{
	this.ViewData.Frame().ControlId("ViewSiteCallbackPanel"),
	this.ViewData.Frame().ControlId("HeaderCallbackPanel")
    
}).GetHtml()

<script type="text/javascript" id="@Html.DXScriptId()">
    var loadwindowfunc = function () {
        if (window == window.top) {
            var i = 0;
            while (true) {
                var popupControlName = "PopupWindow" + i;
                var popupControl = window.top[popupControlName];
                if (popupControl) {
                    window.xafari.popup.PopupControls.push(popupControl);
                    if (i == 0) {
                        window.setTimeout(xafari.popup.asyncLoadIFrame(popupControl), 1);
                    }
                    i++;
                }
                else {
                    break;
                }
            }
        }
    }
    window.addEventListener("load", loadwindowfunc, false);
</script>
