﻿@using DevExpress.ExpressApp.Editors
@using DevExpress.ExpressApp.Localization
@using DevExpress.Web.Mvc.UI
@using Xafari.Mvc.MVCx.Editors
@using Xafari.Mvc.MVCx.EventArgs

@model MVCxStringPropertyEditor

@{
	if (!string.IsNullOrWhiteSpace(this.Model.Model.PredefinedValues))
	{
        //CreateMVCxComboBoxSettings
		var settings = this.Model.CreateEditorSettings<ComboBoxSettings>();
	    settings.EncodeHtml = false;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.ShowModelErrors = true; //Enable internal validation control
        
        //ApplyReadOnly(base)
        settings.ReadOnly = (bool)!this.Model.AllowEdit;
        settings.ClientEnabled = (bool)this.Model.AllowEdit;

        //SetupValidationSettings
        if (this.Model.EditMaskType == EditMaskType.RegEx && !string.IsNullOrEmpty(this.Model.EditMask))
        {
            settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = this.Model.EditMask;
            settings.Properties.ValidationSettings.RegularExpression.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        }
        settings.Properties.ValidationSettings.Display = Display.Dynamic;
        settings.Properties.ValidationSettings.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        settings.Properties.ValidationSettings.ErrorFrameStyle.Wrap = DefaultBoolean.True;
        settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Left;
        
        //SetupComboBox
		settings.Properties.MaxLength = this.Model.MaxLength;
		settings.Properties.DropDownStyle = DropDownStyle.DropDown;

		foreach (var str in PredefinedValuesEditorHelper.CreatePredefinedValuesFromString(this.Model.Model.PredefinedValues))
		{
			settings.Properties.Items.Add(str);
		}
        
        //SetClientScript
		settings.SetImmediatePostDataDefaultScript(this.Model, this.ViewData.Window());

        //SetValue
        if (this.Model.PropertyValue != null)
        {
            settings.Properties.ClientSideEvents.Init = string.Format("function(s,e){{s.SetText('{0}');}}", this.Model.PropertyValue);
        }

        //CustomizeSettings
        this.Model.OnCustomizeSettings(new CustomizeSettingsBaseEventArgs(settings));
        
		@Html.DevExpress().ComboBox(settings).GetHtml()
	}
	else if (this.Model.Model.RowCount <= 1)
	{
        //CreateMVCxTextBoxSettings
		var settings = this.Model.CreateEditorSettings<TextBoxSettings>();
        settings.ShowModelErrors = true; //Enable internal validation control
        //ApplyReadOnly(base)
        settings.ReadOnly = (bool)!this.Model.AllowEdit;
        settings.ClientEnabled = (bool)this.Model.AllowEdit;
        
        //SetupValidationSettings
        if (this.Model.EditMaskType == EditMaskType.RegEx && !string.IsNullOrEmpty(this.Model.EditMask))
        {
            settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = this.Model.EditMask;
            settings.Properties.ValidationSettings.RegularExpression.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        }
	    settings.Properties.EnableClientSideAPI = true;
        settings.Properties.ValidationSettings.Display = Display.Dynamic;
        settings.Properties.ValidationSettings.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        settings.Properties.ValidationSettings.ErrorFrameStyle.Wrap = DefaultBoolean.True;
        settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Left;

        //SetupTextBox
        settings.Properties.Password = this.Model.IsPassword;
        if (!string.IsNullOrEmpty(this.Model.EditMask) && (this.Model.EditMaskType != EditMaskType.RegEx))
        {
            settings.Properties.MaskSettings.Mask = this.Model.EditMask;
            settings.Properties.MaskSettings.ShowHints = true;
            settings.Properties.MaskSettings.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        }
        settings.Properties.MaxLength = this.Model.MaxLength;

        //SetClientScript
        settings.SetImmediatePostDataDefaultScript(this.Model, this.ViewData.Window());

        //SetValue
        settings.Text = this.Model.PropertyValue == null ? null : this.Model.PropertyValue.ToString();

        //CustomizeSettings
        this.Model.OnCustomizeSettings(new CustomizeSettingsBaseEventArgs(settings));
        
		@Html.DevExpress().TextBox(settings).GetHtml()
	}
	else
	{
        //CreateMVCxMemoSettings
        var settings = this.Model.CreateEditorSettings<MemoSettings>();
        settings.ShowModelErrors = true; //Enable internal validation control
        
        //ApplyReadOnly(base)
        settings.ReadOnly = (bool)!this.Model.AllowEdit;
        settings.ClientEnabled = (bool)this.Model.AllowEdit;
        //ApplyReadOnly
        settings.Enabled = true;
        
        //SetupValidationSettings
        if (this.Model.EditMaskType == EditMaskType.RegEx && !string.IsNullOrEmpty(this.Model.EditMask))
        {
            settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = this.Model.EditMask;
            settings.Properties.ValidationSettings.RegularExpression.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        }
        settings.Properties.ValidationSettings.Display = Display.Dynamic;
        settings.Properties.ValidationSettings.ErrorText = ExceptionLocalizerTemplate<UserVisibleExceptionResourceLocalizer, UserVisibleExceptionId>.GetExceptionMessage(UserVisibleExceptionId.MaskValidationErrorMessage);
        settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        settings.Properties.ValidationSettings.ErrorFrameStyle.Wrap = DefaultBoolean.True;
        settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Left;

        //SetupMemo
	    settings.Properties.Rows = this.Model.Model.RowCount;
	    settings.Properties.MaxLength = this.Model.MaxLength;

        //SetClientScript
        settings.SetImmediatePostDataDefaultScript(this.Model, this.ViewData.Window());

        //SetValue
        settings.Text = this.Model.PropertyValue == null ? null : this.Model.PropertyValue.ToString();

        //CustomizeSettings
        this.Model.OnCustomizeSettings(new CustomizeSettingsBaseEventArgs(settings));
         
		@Html.DevExpress().Memo(settings).GetHtml()
	}
}