﻿@model Xafari.Mvc.Templates.MvcPopupWindowTemplate

<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
<div id="UPPopupWindowControl">
    @Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
</div>
<div class="searchDialogContent">
    @Html.Xafari().RelativePartial("Header/_Partial")
    @Html.Xafari().RelativePartial("ViewSite/_Partial")
    @Html.Xafari().RelativePartial("Buttons/_Partial")
</div>
<script type="text/javascript">
    window.top.pageLoaded = false;
    document.body.className = "dialog";

    function InitHeader() {
        window.setTimeout(function () {
            var headerDiv = document.getElementById("headerContent");
            var viewSite = document.getElementById("FindDialog_UPVSC");
            var actionConteiner = document.getElementById("FindDialog_OC");

            viewSite.style.marginTop = headerDiv.scrollHeight + "px";
            viewSite.style.marginBottom = actionConteiner.scrollHeight + "px";

            headerDiv.style.position = 'fixed';
        }, 0);
    }

    $(window).load(function () {
        window.top.pageLoaded = true;
        InitHeader();
        PageLoaded();
    });
</script>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[] { this.ViewData.Frame().ControlId("UPViewSite"), this.ViewData.Frame().ControlId("UPButtons"), this.ViewData.Frame().ControlId("UPHeader") }).GetHtml()
