﻿@using DevExpress.ExpressApp.Layout
@using Xafari.Mvc.Layout
@using Xafari.Mvc.MVCx.Helpers

@model LayoutGroupContainer

@{
    var controlPartialView = this.ViewData[LayoutGroupContainer.ControlPartialViewKey] as string;
    if (string.IsNullOrEmpty(controlPartialView)) { return; }
    
    DevExpress.ExpressApp.Web.Layout.LayoutCSSInfo cssInfo = this.Model.LayoutManager.LayoutCSSInfo;
    DevExpress.ExpressApp.Web.Layout.LayoutItemCSSInfoBase itemCSSInfo = cssInfo.GetCssInfo(this.Model.Model);

    var id = DevExpress.ExpressApp.Web.SystemModule.WebIdHelper.GetCorrectedLayoutItemId(this.Model.Model, "", "_CardTable");
    var css = string.Empty;
    
    if (itemCSSInfo.ParentDirection == FlowDirection.Horizontal)
    {
        css = itemCSSInfo.EditorContainerCssClassName;
    }
    else
    {
        css = itemCSSInfo.CardCssClassNameCore;
    }
    //SetCustomCSSClass
    if (this.Model.Model is DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb)
    {
        string customCSSClassName = ((DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb) this.Model.Model).CustomCSSClassName;
        if (!string.IsNullOrEmpty(customCSSClassName))
        {
            css = css + " " + customCSSClassName;
        }
    }
    //
}
<table id="@(id)" class="@(css)">
    <tr style="vertical-align: top">
        <td>
            @Html.Xafari().RelativePartial("_LayoutContentHeader")
        </td>
    </tr>
    <tr style="vertical-align: top">
        <td class="@(itemCSSInfo.LayoutGroupCSSInfo().CardGroupContentCssClass)">
            @Html.Xafari().RelativePartial(controlPartialView)
        </td>
    </tr>
</table>


