﻿@using Xafari.Mvc.Layout
@using Xafari.Mvc.MVCx.Helpers

@model LayoutGroupContainer

@{
    int cellsCount = 0;
    
    double num;
    double num2;
    this.Model.SolveMultiplierAndZeroReplacer(this.Model.Model, out num, out num2);

    var css = LayoutItemCSSInfoHelper.GetGroupContentCssClassName(this.Model.Model); 

    //SetCustomCSSClass
    if (this.Model.Model is DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb)
    {
        string customCSSClassName = ((DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb)this.Model.Model).CustomCSSClassName;
        if (!string.IsNullOrEmpty(customCSSClassName))
        {
            css = css + " " + customCSSClassName;
        }
    }
}
<table cellspacing="0" cellpadding="1" border="0" class="@(css)">
    <tr style="vertical-align: top">
        @foreach (LayoutItemContainerBase layoutItemContainerBase in this.Model.Items.Values)
        {
            var cellCss = "HItem";
            var cellWidth = Unit.Empty;
            
            if (cellsCount == 0)
            {
                cellCss = "HItem FirstColumn";
            }
            else
            {
                cellCss = "HItem NextColumn";
            }

            if ((layoutItemContainerBase.ViewItem != null) || (layoutItemContainerBase is LayoutGroupContainerBase))
            {
                double n = layoutItemContainerBase.Model.RelativeSize * num;
                if (n == 0.0)
                {
                    n = num2;
                }
                if (!this.Model.IsFixedWidthItem(layoutItemContainerBase))
                {
                    cellWidth = Unit.Percentage(n);
                }
                else
                {
                    cellWidth = Unit.Percentage(1.0);
                }
            }

            if (layoutItemContainerBase is LayoutGroupContainerBase)
            {
                cellCss = cellCss + " GroupContent";
            }
            
            if (this.Model.LayoutManager.LayoutCSSInfo != null)
            {
                cellCss = this.Model.GetCss(layoutItemContainerBase.Model, this.Model.LayoutManager.LayoutCSSInfo);
                cellWidth = this.Model.GetWidth(layoutItemContainerBase.Model, this.Model.Model);
            }
            
            cellsCount++;

            <td class="@(cellCss)" style="width: @(cellWidth)">
                @{ this.ViewData[MvcLayoutManager.ContainerKeyForViewData] = layoutItemContainerBase; }
                @Html.Xafari().RelativePartial("../_ProcessItem", this.Model.LayoutManager)
            </td>
        }
    </tr>
</table>