﻿@using Xafari.Mvc.Layout
@using Xafari.Mvc.MVCx.Helpers

@model LayoutGroupContainer

@{
    var css = LayoutItemCSSInfoHelper.GetGroupContentCssClassName(this.Model.Model);
    
    //SetCustomCSSClass
    if (this.Model.Model is DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb)
    {
        string customCSSClassName = ((DevExpress.ExpressApp.Web.SystemModule.IModelViewLayoutElementWeb) this.Model.Model).CustomCSSClassName;
        if (!string.IsNullOrEmpty(customCSSClassName))
        {
            css = css + " " + customCSSClassName;
        }
    }
}
<table id="@(DevExpress.ExpressApp.Web.SystemModule.WebIdHelper.GetCorrectedLayoutItemId(this.Model.Model))" cellspacing="0" cellpadding="1" border="0" class="@(css)">
    <tr style="vertical-align: top">
        <td>
            @foreach (LayoutItemContainerBase layoutItemContainerBase in this.Model.Items.Values)
            {
                var cssForDiv = this.Model.GetCss(layoutItemContainerBase.Model, this.Model.LayoutManager.LayoutCSSInfo);
                var widthForDiv = this.Model.GetWidth(layoutItemContainerBase.Model, this.Model.Model);

                <div id="@(DevExpress.ExpressApp.Web.SystemModule.WebIdHelper.GetCorrectedLayoutItemId(layoutItemContainerBase.Model))" class="@(cssForDiv)" style="width: @(widthForDiv)">
                    @{
                        this.ViewData[MvcLayoutManager.ContainerKeyForViewData] = layoutItemContainerBase;
                        @Html.Xafari().RelativePartial("../_ProcessItem", this.Model.LayoutManager)
                    }
                </div>
            }
        </td>
    </tr>
</table>