﻿@model Xafari.Mvc.Templates.MvcWindowTemplate

<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
<style type="text/css">
	.right {
		float: right;
	}

	.CardGroupContent {
		padding: 0px !important;
	}

	.CardGroupBase {
		border: none !important;
	}

	.menuButtons .dxm-item {
		border: none !important;
		background-color: #2c86d3 !important;
		padding-left: 3px !important;
		padding-right: 3px !important;
	}

		.menuButtons .dxm-item .dx-vam {
			color: white;
		}

		.menuButtons .dxm-item.dxm-hovered, .menuButtons .dxm-item.dxm-hovered a.dx {
			border: none !important;
			background-color: #2c86d3 !important;
		}

		.menuButtons .dxm-noImages .dxm-item .dxm-content, .menuButtons .dxm-item.dxm-noImage .dxm-content {
			padding: 14px 38px 14px 38px !important;
			-webkit-box-shadow: none;
			border: none;
		}

	.LogonItemClassCSS {
		padding-bottom: 15px;
	}

	.LogonTextClassCSS {
		padding-top: 0px;
		padding-bottom: 38px;
		text-align: left;
	}

		.LogonTextClassCSS .StaticText {
			font-size: 25px;
			color: #4a4a4a;
		}

		.LogonTextClassCSS .dxm-tmpl td.dxic > input, .WebEditorCell td.dxic > input {
			padding-top: 8px !important;
			padding-bottom: 8px !important;
		}


	.PasswordHintClassCSS {
		text-align: left;
		padding-bottom: 20px;
	}

		.PasswordHintClassCSS .StaticText {
			font-size: 12px;
		}

	@@media all and (max-width: 480px), (max-height: 480px) {
		.LogonItemClassCSS {
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.LogonContent {
			padding: 15px 25px;
		}
	}

	@@media all and (max-width: 480px) {
		.LogonTextClassCSS {
			padding-bottom: 10px;
		}

		.LogonContentWidth {
			width: 100%;
		}

		.PasswordHintClassCSS {
			padding-bottom: 5px;
		}

		.LogonTextClassCSS .dxm-tmpl td.dxic > input, .WebEditorCell td.dxic > input {
			padding-top: 5px !important;
			padding-bottom: 5px !important;
		}
	}

	@@media all and (max-height: 480px) {
		.LogonTextClassCSS {
			padding-bottom: 2px;
		}

		.LogonContent {
			padding: 15px 35px;
		}

		.PasswordHintClassCSS {
			padding-bottom: 2px;
			padding-top: 2px;
		}

		.LogonTextClassCSS .dxm-tmpl td.dxic > input, .WebEditorCell td.dxic > input {
			padding-top: 2px !important;
			padding-bottom: 2px !important;
		}

		.dxmLite_XafTheme .dxm-main.dxmtb {
			padding: 0px;
		}
	}

	@@media all and (max-height: 350px) {
		.LogonTextClassCSS {
			padding-bottom: 2px;
		}

		.LogonContent {
			padding: 10px 25px;
		}

		.PasswordHintClassCSS {
			padding-bottom: 2px;
			padding-top: 2px;
		}

		.LogonTextClassCSS .dxm-tmpl td.dxic > input, .WebEditorCell td.dxic > input {
			padding-top: 2px !important;
			padding-bottom: 2px !important;
		}

		.dxmLite_XafTheme .dxm-main.dxmtb {
			padding: 0px;
		}
	}

	@@media all and (max-height: 360px) {
		.LogonContent {
			padding: 10px 25px;
		}
	}

	@@media all and (max-width: 450px) {
		.LogonContent {
			padding: 15px 35px;
		}

		.LogonMainTable.LogonContentWidth {
			width: 90%;
		}
	}

	@@media all and (max-width: 400px) {
		.LogonMainTable.LogonContentWidth {
			width: 100%;
		}
	}
</style>

<div id="UPPopupWindowControl">
	@Html.Xafari().MvcControl(this.Model.MvcXafPopupWindowControl).GetHtml()
</div>
<div id="UPHeader">
	<div class="white borderBottom width100" id="headerTableDiv">
		<div class="paddings sizeLimit" style="margin: auto">
			<table id="headerTable" class="headerTable xafAlignCenter white width100 sizeLimit" style="height: 60px;">
				<tbody>
					<tr>
						<td>
							<img src="~/Images/Logo.png" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div style="top: 25%; width: 100%; position: absolute">
	@Html.Xafari().RelativePartial("ViewSite/_Partial")
</div>

@Html.Xafari().ShowViewStrategy().DependentContainers(new[] { this.ViewData.Frame().ControlId("UPViewSite") }).GetHtml()
