﻿@using Xafari.Mvc
@using Xafari.Mvc.Templates.ActionContainers

@model Xafari.Mvc.Templates.MvcNestedFrameTemplate

<div class="NestedFrameControl">
    <div class="NestedFrame">
        @if (this.Model.ToolBarVisible)
        {
            <div class="ToolBarUpdatePanel">
                @Html.Xafari().RelativePartial("Toolbar/_Partial")
            </div>
        }
        @if (this.Model.View != null)
        {
            <div class="NestedFrameViewSite @(!this.Model.ToolBarVisible ? "WithoutToolbar" : "")">
                @{
            Html.Xafari()
                .ViewSite(this.Model.View)
                .DependentContainers(this.ViewData.Frame().ControlId("NestedFrameToolbarCallbackPanel"))
                .ContextMenu(this.Model, "Edit;RecordEdit;ObjectsCreation;ListView;Reports")
                .Render();
                }
            </div>
        }
    </div>
</div>