﻿@using Xafari.Mvc

@model Xafari.Mvc.Editors.StaticImageDetailItem
@*@{
    var imageInfo = ImageLoader.Instance.GetImageInfo(Model.ImageName);
}
<img src="<%= Url.Content("~/>"+imageInfo.ImageUrl) %>" width="<%= imageInfo.Width %>" height="<%= imageInfo.Height %>"/>*@
@Html.Xafari().ImageInfo(Model.ImageName).GetHtml()
    

